body.notices-new {
  h1 {
    margin-bottom: 30px;

    @include media($mobile) {
      line-height: 1.2em;
    }
  }

  #file_uploads_inputs {
    margin-bottom: 10px;
  }
}

section.notices-list {
  @include span-columns(4);
  @include omega;
  padding-right: $gutter;
  border-right: 1px solid lighten($base-border-color, 8%);

  @include media($mobile) {
    padding: 0;
  }


  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      border-radius: 3px;
      box-shadow: 0 1px 0 hsla(0%, 0%, 0%, 0.05);
      color: $base-link-color;
      cursor: pointer;
      font-size: $base-font-size-1 - 1px;
      font-weight: 600;
      padding: 12px;
      @include transition(background 0.08s $ease-out-quad);

      @include media($mobile) {
        padding: 6px 10px;
        font-size: $base-font-size-small-1;
      }

      &.active {
        background: $nav-hover;
        box-shadow: none;
        color: #fff;
      }
    }
  }
}

section.info-panel {
  @include pad(10px 25px);
  @include span-columns(8);
  line-height: 1.6em;

  @include media($mobile) {
    padding: 10px;
  }

  > div {
    display: none;

    &.active {
      display: block;
    }
  }

  a.button {
    display: inline-block;
    margin-top: 30px;
    padding: 8px 40px;

    @include media($mobile) {
      font-weight: 800;
      padding: 8px 10px;
      display: block;
      text-align: center;
    }
  }
}

  @include media($mobile) {
section.info-panel,
section.notices-list {
  // @include media($mobile) {
    margin: 0;
    float: none;
    width: 100%;
    border: 0;
  }
}
