article.notice-show {
  h1 {
    color: #fff;
    font-size: em(18, 15);
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    background: $header-background-3;
    padding: 25px 35px 15px;

    @include media($mobile) {
      padding-left: $base-padding-mobile;
    }
  }
}

article.notice-show {
  section.body {
    position: relative;
    z-index: 1;
    clear: left;
    overflow: hidden;
  }
}

// Header
//************************************************************************//
article.notice-show {
  header {
    background-color: $header-background-2;
    @include clearfix;
    color: #fff;
    font-weight: 500;

    div.entities-wrapper {
      position: relative;
    }

    span.on_behalf_of {
      display: inline;
      color: hsla(0, 0%, 100%, 0.6);
    }

    section.sender, section.recipient, section.submitter {
      @extend %notice-header;

      @include media($mobile) {
        @include fill-parent;
        float: none;
        min-height: 0;
        @include pad(15px 20px);
      }
    }

    section.recipient {
      h5 {
        color: #FFFFFF;
      }
    }

    section.sender {
      position: relative;

      &:before {
        background-image: image_url("arrow-dark.svg");
        background-repeat: no-repeat;
        background-size: 26.5%;
        content: "";
        height: 48px;
        left: 82%;
        opacity: 0.1;
        position: absolute;
        top: 50px;
        width: 33%;

        @include media($mobile) {
          display: none;
        }
      }
    }

    section.secondary {
      @extend %notice-header;
      background-color: $header-background-2;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      visibility: visible;

      @include media($mobile) {
        @include pad(15px 20px);
      }

      * {
        @include transition(opacity 0.08s $ease-out-quad);
      }

      &.hide {
        visibility: hidden;

        * {
          @include transition(opacity 0.08s $ease-out-quad);
          opacity: 0;
        }
      }

      h5 {
        color: hsl(26, 96%, 72%);
      }
    }

    h5 {
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: 700;
      margin-bottom: 5px;
      font-size: $base-font-size-small-1 + 4;
    }

    h6 {
      font-size: $base-font-size-small-1 + 1;
      font-weight: bold;

      a {
        color: #fff;

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }

    span {
      display: block;
      font-size: $base-font-size-small-1;
      font-weight: 300;

      &.date {
        color: hsla(0, 0%, 100%, 0.6);
        margin-top: 8px;
      }
    }

    a {
      text-decoration: none;
    }
  }

  section.first-time-visitor {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);

    .first-time-visitor-content {
      width: $home-width;
      margin: 100px auto;
      background-color: #fff;
      border: 4px solid darken($base-border-color, 50%);
      border-radius: 8px;
      padding:15px;
      text-align: left;
      @include media($mobile) {
        width: 75%;
      }
    }

    #hide-first-time-visitor-content {
      text-align: right;
      font-size: $base-font-size-small-1 - 1;
      margin: 0 0 1em;

      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }

    }
  }

  div.other-entities {
    background: $header-background-3;
    clear: both;
    @include clearfix;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: $base-font-size-small-2;
    padding: 5px $base-padding 5px;
    text-transform: uppercase;

    @include media($mobile) {
      padding-left: $base-padding-mobile;
    }

    span.label {
      float: left;
      font-size: $base-font-size-small-2;
    }

    ul {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        float: left;
        font-weight: 700;
        padding: 0 0 0 12px;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}


// Document Body
//************************************************************************//
article.notice-show {
  div.main {
    @include clearfix;
    padding: $base-padding;

    @include media($mobile) {
      padding: $base-padding / 2;
    }

    h2 {
      font-size: $base-font-size-2;
      margin: 0;
      line-height: 1.5em;
      font-weight: 700;
    }

    h5 {
      font-size: $base-font-size;
      font-weight: 700;
      margin-bottom: 0.5em;
    }

    p.source {
      color: $medium-gray;
      font-size: $base-font-size-small-2;
      font-weight: 700;
      margin-bottom: 25px;
      text-transform: uppercase;
    }

    > section {
      margin-bottom: 2em;

      &:last-child {
        margin-bottom: 0;
      }

      &.notice-body .body {
        white-space: pre-line;
      }
    }

    dl {
      @include clearfix;
      margin-bottom: 10px;

      dl, dt {
        margin: 0;
      }
    }

    .label {
      @extend %notices-label;
    }

    .field {
      margin-left: 0;
      @include span-columns(9.5);
    }
  }

  ol.copyright-claims {
    padding: 0;

    li.work {
      @include clearfix;
      list-style-type: none;

      h4 {
        font-size: $base-font-size + 1;
        font-weight: bold;
        margin: 0 0 1em 0;
      }

      div {
        @include clearfix;
        margin-bottom: 10px;
      }

      div.row {
        @include row;
      }

      span.label {
        color: $medium-gray;
        @include pad(0 0 0 20px);

        @include media($mobile) {
          padding: 0;
        }
      }

      ol.list {
        counter-reset: li;
        list-style-position: inside;
        margin-bottom: 10px;
        padding-left: 0px;
        @include span-columns(9.5);
        @include omega;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all; // latest spec

        @include media($mobile) {
          width: 100%;
        }

        li {
          list-style: none;
          margin-bottom: 6px;
          position: relative;
          padding-left: 25px;

          &:before {
            color: darken($light-gray, 15%);
            content: counter(li, decimal-leading-zero)".";
            counter-increment: li;
            font-size: $base-font-size-small-1;
            font-weight: 600;
            left: -8px;
            position: absolute;
            text-align: right;
            top: 1px;
            white-space: no-wrap;
            width: 2em;
          }
        }
      }
    }
  }
}

article.notice-show {
  div.admin-edit {
    background: $notice-color;
    font-size: $base-font-size;
    padding: 10px $base-padding;
  }
}

// Attachments
//************************************************************************//
section.attachments {
  background: #fefefe;

  ol {
    @include clearfix;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      $pad: 6px;
      background-image: image_url('attachments/generic.png');
      background-position: $pad;
      background-repeat: no-repeat;
      border: 1px solid transparent;
      cursor: pointer;
      margin-bottom: 10px;
      margin-top: 5px;
      padding: $pad $pad $pad (50px + $pad);
      @include span-columns(4);
      @include transition;

      &:hover {
        background-color: #F4FAFE;
        border-radius: 4px;
        border-color: #81CDFB;
      }

      &:nth-child(3n+3) {
        margin-right: 0;
      }

      @include media($mobile) {
        float: none;
        width: 100%;
        margin-right: 0;
      }

      a {
        color: $base-font-color;
        display: block;
        font-size: $base-font-size-small-1;
        font-weight: 600;
        min-height: 50px;
        text-decoration: none;

        &:hover {
          color: $base-font-color;
        }
      }

      span {
        clear: left;
        display: block;
        float: left;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.download {
          color: $medium-gray;
          font-size: $base-font-size-small-1 - 1;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    li.pdf {
      background-image: image_url('attachments/pdf.png');
    }

    li.image {
      background-image: image_url('attachments/image.png');
    }
  }
}

// Footer
//************************************************************************//
article.notice-show {
  footer {
    background: $header-background-2;
    border-radius: 0 0 4px 4px;
    @include clearfix;
    margin: 0;
    color: #fff;

    section {
      float: left;
      font-size: $base-font-size-small-1;
      min-height: 20px;
      padding: 25px $base-padding;

      &:first-child {
        @include span-columns(7);
        @include omega;
      }

      &:last-child {
        @include span-columns(5);
        margin-left: 5px;
      }

      @include media($mobile) {
        &:first-child, &:last-child {
          float: none;
          padding: 15px $base-padding-mobile 10px;
          width: 100%;
        }
      }
    }

    h6 {
      @extend %title-caps;
      color: #fff;
    }

    a {
      border-bottom: 1px dotted hsla(0, 0%, 100%, 0.5);
      color: #fff;
      line-height: 1.8em;
      text-decoration: none;

      &:hover {
        color: #fff;
        border-bottom: 1px dotted #fff;
      }
    }
  }
}

aside.notice {
  background: $base-background-color-alt;
  padding: 0 $base-padding;
  @include clearfix;

  @include media($mobile) {
    padding: 0 5px;
  }

  h4.title {
    @extend %header-title;
  }

  section {
    padding: 30px 0;

    &:first-child {
      box-shadow: 2px 0 0 #fff;
    }
  }
}

// FAQ Section
//************************************************************************//
section#relevant-questions {
  @extend %faq-accordion;
  @include span-columns(7);
  @include omega;
  padding-right: 20px;

  @include media($mobile) {
    width: 100%;
    float: none;
    padding-left: $base-padding-mobile;
  }


  .question {
    font-size: $base-font-size;

    a {
      padding-bottom: 7px;
      padding-top: 7px;
    }
  }

  .answer, p {
    font-size: $base-font-size-small-1;
  }
}

section#related-blog-entries {
  @include span-columns(5.2);
  padding-left: $base-padding;

  @include media($mobile) {
    float: none;
    margin-right: 0;
    padding: 0;
    padding-left: $base-padding-mobile;
    padding-right: $base-padding-mobile;
    width: 100%;
  }

  article {
    margin: 16px 0 18px;

    h3 {
      font-weight: 500;
      line-height: 1em;
      margin: 0 0 0.2em;
      font-size: $base-font-size;

      a {
        color: lighten($base-font-color, 10%);
        line-height: 1.5em;
        text-decoration: none;

        &:hover {
          color: $base-link-color;
          text-decoration: underline;
        }
      }
    }
  }

  div.metadata {
    font-size: $base-font-size-small-1 - 1px;
    color: rgba($base-font-color-3, 0.7);
  }
}
