article.notice-show {
  h1 {
    color: $base-title-color;
    font-size: em(24, 15);
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0.15em;
    margin-top: 0;
  }
}

article.notice-show {
  section.body {
    position: relative;
    z-index: 1;
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.25);
    clear: left;
    margin-top: 2em;
    overflow: hidden;
  }
}

// Header
//************************************************************************//
article.notice-show {
  header {
    @extend %gray-gradient;
    border-bottom: 1px solid $base-border-color-1;
    @include clearfix;

    section.sender,
    section.recipient {
      float: left;
      min-height: 150px;
      @include pad(15px default 25px $base-padding);
      width: 50%;

      @include media($mobile) {
        @include fill-parent;
        float: none;
        min-height: 0;
        @include pad(15px 20px);
      }
    }

    section.recipient {
      box-shadow: inset 0 4px 0 #18A753;
    }

    section.sender {
      box-shadow: inset 0 4px 0 #DE5024;
      position: relative;

      &:before {
        background-image: image_url("arrow.svg");
        background-repeat: no-repeat;
        background-size: 26.5%;
        content: "";
        height: 48px;
        left: 82%;
        position: absolute;
        top: 50px;
        width: 62%;
        z-index: 1;
      }
    }

    h5 {
      text-transform: uppercase;
      color: darken($light-gray, 15%);
      font-weight: bold;
      margin-bottom: 5px;
      font-size: $base-font-size-small-1 - 1;
    }

    h6 {
      font-size: $base-font-size-small-1;
      font-weight: bold;

      a {
        color: $base-font-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    span {
      display: block;
      font-size: $base-font-size-small-1;
    }

    a {
      text-decoration: none;
    }
  }
}


// Document Body
//************************************************************************//
article.notice-show {
  div.main {
    @include clearfix;
    padding: $base-padding;

    h2 {
      font-size: 17px;
      margin: 0;
      line-height: 1.5em;
      font-weight: 700;
    }

    p.source {
      color: $base-font-color-3;
      font-weight: 600;
      font-size: $base-font-size-small-1;
      margin-bottom: 25px;
    }
  }

  ol.copyright-claims {
    padding: 0;

    li.work {
      @include clearfix;
      list-style-type: none;

      h6 {
        border-bottom: 2px solid lighten($base-border-color, 5%);
        font-size: $base-font-size + 1;
        font-weight: bold;
        margin-bottom: 1em;
        padding-bottom: 0.5em;
      }

      div {
        @include clearfix;
        margin-bottom: 6px;
      }

      $label-width: 160px;
      $margin: 15px;
      span.label,
      span.infringing-title {
        color: $base-font-color-3;
        font-size: $base-font-size - 1;
        font-weight: bold;
        @include span-columns(2.5);
        @include pad(0 0 0 20px);
      }

      span.field {
        @include span-columns(9.5);
      }

      ol.infringing-urls {
        float: left;
        padding-left: 0px;
        list-style-position: inside;
        margin-bottom: 20px;
      }
    }
  }
}

// Footer
//************************************************************************//
article.notice-show {
  footer {
    @include clearfix;
    margin: 0 15px 40px;
    position: relative;
    top: -1px;
    z-index: 0;
    background: hsla(0, 0%, 0%, 0.05);
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1);
    border-radius: 0 0 3px 3px;

    section {
      float: left;
      font-size: $base-font-size-small-1;
      min-height: 20px;
      @include span-columns(6);
      @include pad(15px default);
    }

    h6 {
      @extend %title-caps;
    }

    a {
      color: $base-font-color;
      text-decoration: none;
      border-bottom: 1px dotted #aaa;

      &:hover {
        color: darken($base-font-color, 10%);
        border-bottom: 1px dotted #555;
      }
    }
  }
}

aside.notice {
  margin: 0 15px;

  h4.title {
    font-size: $base-font-size + 1;
    font-weight: 800;
    text-transform: uppercase;
    margin: 15px 20px 10px;
  }

  section {
    background: #fff;
    border: 1px solid $base-border-color;
    border-radius: 3px;
  }
}

// FAQ Section
//************************************************************************//
section#relevant-questions {
  @extend %faq-accordion;
  padding: 0;
}

section#related-blog-entries {
  margin-top: 30px;

  article {
    margin: 20px 0;
    padding: 0 20px 0;

    h3 {
      font-weight: 500;
      line-height: 1em;
      margin: 0 0 0.2em;
      font-size: $base-font-size-2;

      a {
        color: lighten($base-font-color, 10%);
        text-decoration: none;

        &:hover {
          color: $base-link-color;
          text-decoration: underline;
        }
      }
    }
  }

  div.metadata {
    font-size: $base-font-size-small-1;
    color: $base-font-color-3;
  }
}
