// Search form
//************************************************************************//
section.home-search-form {
  margin: 200px 0 180px; // fallback
  margin: 25vh 0 18vh;
  @extend %search-form;

  @include media($tablet) {
    margin: 15vh 0;
  }

  @include media($mobile) {
    margin: 8vh 0;
  }

  h1 {
    margin: 0 0 32px 0;
    text-align: center;

    img {
      @include media($mobile) {
        $size: 88%;
        width: $size;
        height: $size;
      }
    }
  }

  $form-padding: $form-bg-padding - 3px;
  form {
    margin: 0 auto;
    width: $home-search-input-w + ($form-padding*2);
    background: $header-background-1;
    padding: $form-padding;
    border-radius: 4px;

    input#search {
      font-size: $base-font-size + 1px;
      height: $home-search-input-h + 10px;
    }

    div.submit {
      top: $form-padding;
      right: $form-padding;

      button#submit {
        @include border-right-radius(2px);
        height: $home-search-input-h + 10px;
      }
    }

    div.search-dropdown {
      display: none;
    }

    @include media($mobile) {
      width: auto;
      margin: 5%;

      div.input input {
        width: 100%;
      }
    }
  }

  div.more-info {
    color: lighten($base-font-color, 10%);
    margin-top: 35px;
    padding: 0 100px;
    text-align: center;

    @include media($tablet) {
      padding: 0 10%;
    }

    @include media($mobile) {
      padding: 0 20px;
    }

    p {
      font-size: $base-font-size-small-2;
    }
  }
}

// Site News
//************************************************************************//
.site-news {
  @include clearfix;
  margin-bottom: 25px;
  background: #fff;
  border-radius: 3px;
  font-size: $base-font-size-small-1;

  section {
    @include span-columns(6);
    padding: 20px 40px 30px;
    margin: 0px;

    @include media($mobile) {
      padding: 15px $base-padding-mobile;
      float: none;
      width: auto;
    }

    &.tweets {
      border-left: 3px solid $home-background-color;

      @include media($mobile) {
        border: 0;
        width: 100%;
      }

      a {
        display: inline;
      }

      @include span-columns(6);
    }

    &.recent-notices {
      @include span-columns(3 of 6);
      @include omega();
    }

    &.news-snippets {
      @include span-columns(6 of 6);

      border-top: 3px solid $home-background-color;

        @include media($mobile) {
        border: 0;
        }
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 0.8em;

    a {
      @include ellipsis;
      font-size: $base-font-size-small-1;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    span.metadata {
      display: block;
      font-size: $base-font-size-small-2;
      color: lighten($base-font-color-2, 20%);
      line-height: 1.4em;
    }
  }

  h2 {
    @extend %title-caps;
    color: $header-background-2;
    color: desaturate(darken($base-link-color, 10%), 4%);
    font-size: $base-font-size-small-1;
    margin: 0 0 0.4em;
  }
}

// Home Footer
//************************************************************************//
body.home footer.main {
  background: none;
  border: 0;

  div.inner-wrapper {
    font-size: $base-font-size-small-2;
    margin: 0 auto;
    max-width: $home-width;
    padding: 0;
  }

  span, a {
    margin: 0 15px 15px;
    color: lighten($base-font-color-3, 20%);
  }

  a:hover {
    color: $base-link-color;
  }

  nav {
    float: right;
  }
}
