// Search form
//************************************************************************//
section.home-search-form {
  margin: 25vh 0;
  @extend %search-form;

  @include media($tablet) {
    margin: 15vh 0;
  }

  @include media($mobile) {
    margin: 8vh 0;
  }

  h1 {
    margin: 0 0 32px 0;
    text-align: center;
  }

  form {
    margin: 0 auto;

    input#search {
      font-size: $base-font-size + 1px;
      height: $home-search-input-h + 10px;
    }

    button#submit {
      @include border-right-radius(3px);
      height: $home-search-input-h + 10px;
    }

    div.search-dropdown {
      display: none;
    }

    @include media($mobile) {
      width: auto;
      margin: 5%;

      div.input input {
        width: 100%;
      }
    }
  }
}

// Site News
//************************************************************************//
.site-news {
  @include clearfix;
  margin-bottom: 20px;

  section {
    background: #fff;
    border-radius: 3px;
    float: left;
    width: $home-width / 2 - 15px;
    padding: 20px;

    @include media($tablet) {
      float: none;
      width: auto;
      margin: 0 $gutter $gutter;
    }

    &.news-snippets {
      box-shadow: inset 0 4px 0 $shadow-2, 0 1px 2px 0 hsla(0, 0%, 0%, 0.22);
      margin-right: 30px;
    }

    &.recent-notices {
      box-shadow: inset 0 4px 0 $shadow-3, 0 1px 2px 0 hsla(0, 0%, 0%, 0.22);
    }
  }

  article {
    font-size: $base-font-size - 1px;
    margin-bottom: 0.5em;

    a {
      font-weight: 600;
    }

    span.metadata {
      display: block;
      font-size: $base-font-size-small-1;
      color: $base-font-color-2;
    }
  }

  h2 {
    @extend %title-caps;
    margin: 0 0 1em;
    font-size: $base-font-size-small-1;
    text-transform: uppercase;
    color: $base-font-color-2;
  }
}

// Home Footer
//************************************************************************//
body.home footer.main {
  background: none;
  border: 0;

  div.inner-wrapper {
    font-size: $base-font-size-small-2;
    margin: 0 auto;
    max-width: $home-width;
    padding: 0;
  }

  span, a {
    margin: 0 15px 15px;
    color: lighten($base-font-color-3, 20%);
  }

  a:hover {
    color: $base-link-color;
  }

  nav {
    float: right;
  }
}
