body.home-index {
  background: #FAFAFA;
  @include outer-container;
  max-width: $home-width;
  margin-top: 0;

  nav.main-nav {
    ol {
      background: white;
      border-radius: 0 0 3px 3px;
      @include clearfix;
      list-style: none;
      margin-top: 0;
      padding: 0;
      border: 1px solid $base-border-color;
      border-top: 0;
      width: 100%;

      li {
        width: 25%;
        float: left;
        padding: 10px 20px;
        text-align: center;

        a {
          color: $nav-link-color;
          text-decoration: none;

          &:hover {
            color: $nav-hover-link-color;
          }
        }
      }
    }
  }
}

section.home-search-form {
  margin: 175px 0 150px 0;
  margin: 25vh 0;
  @extend %search-form;

  h1 {
    margin: 0 0 32px 0;
    text-align: center;

    span {
      @include hide-text;
      font-size: 0;
    }
  }

  form {
    margin: 0 auto;

    input {
      font-size: $base-font-size + 1px;
    }
  }
}

section.main.home {
  .site-news {
    > section {
      background: #fff;
      border-radius: 3px;
      float: left;
      width: $home-width / 2 - 15px;
      padding: 20px;
    }

    article {
      font-size: $base-font-size - 1px;
      margin-bottom: 0.5em;

      a {
        font-weight: 600;
      }

      time {
        display: block;
        font-size: $base-font-size-small-1;
        color: $base-font-color-2;
      }
    }

    h2 {
      margin: 0 0 1em;
      font-size: $base-font-size-small-1;
      text-transform: uppercase;
      color: $base-font-color-2;
    }

    .news-snippets {
      box-shadow: inset 0 4px 0 #1DBEA2, 0 1px 2px 0 hsla(0, 0%, 0%, 0.22);
      margin-right: 30px;
    }

    .recent-notices {
      box-shadow: inset 0 4px 0 #80C761, 0 1px 2px 0 hsla(0, 0%, 0%, 0.22);
    }
  }
}
