%active-filter {
  position: relative;

  &:before {
    content: "\2022";
    font-size: 28px;
    left: 9px;
    position: absolute;
    top: 7px;
    font-family: $helvetica;
    color: $shadow-4;
  }
}

%hover-effect {
  background: white;
  box-shadow: 0 -4px 0 $shadow-4;
  color: $base-title-color;
}


ol.results-facets {
  $border-color: #ddd;
  @extend %gray-gradient;
  border-bottom: 1px solid $border-color;
  @include clearfix;
  margin: 0;
  padding: 0;
  position: relative;

  > li {
    float: left;
    list-style: none;
    border-right: 1px solid $border-color;
    @extend %gray-gradient;

    &:first-child {
      margin: 0 0 0 15px;
    }

    &:last-child {
      border-right: 0;
    }

  }

  @include media($tablet) {
    padding: 0;

    > li {
      float: none;
      border-bottom: 1px solid $base-border-color;
      border-right: 0;

      &:first-child {
        margin: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  li.title {
    padding: 10px 30px 10px 20px;
    font-size: $base-font-size-small-2;
    text-transform: uppercase;
    font-weight: 700;
    color: $base-title-color;

    @include media($small-screen) {
      display: none;
    }

    @include media($tablet) {
      display: block;
      padding-left: 15px;
    }
  }

  li.dropdown {
    position: relative;
    @include transition(padding 0.1s);

    &:hover,
    &.open a.dropdown-toggle {
      @extend %hover-effect;

      @include media($tablet) {
        box-shadow: none;
        background: #fff;
      }
    }

    &.active {
      a.dropdown-toggle {
        color: $shadow-4;
      }
    }

    a.dropdown-toggle {
      color: lighten(desaturate($base-title-color, 15%), 15%);
      display: block;
      font-size: $base-font-size-small-1 - 1px;
      font-weight: 600;
      padding: 10px 24px 10px 10px;
      position: relative;
      text-decoration: none;

      &:after {
        @include triangle(8px, darken($base-border-color, 15%), down);
        position: absolute;
        content: "";
        right: 10px;
        top: calc(50% - 2px);
      }
    }
  }

  li.date_received_facet {
    border: 0;
  }

  $button-height: 40px;
  $button-width: 100px;
  li.active ~ li.button-wrapper {
    button {
      @include transform(translateX(0)); // show button
    }

    @include media($tablet) {
      height: $button-height; // show button
    }
  }

  li.button-wrapper {
    overflow: hidden;
    position: absolute;
    right: 0;


    @include media($tablet) {
      height: 0; // hide button
      position: static;
      @include transition(all 0.4s $ease-out-cubic);
    }

    button {
      border-radius: 0;
      border-width: 0 0 0 1px;
      box-shadow: inset -1px 0 0 hsla(0, 0%, 0%, 0.1), inset 0 1px 0 hsla(0, 0%, 0%, 0.05), 0 1px 0 $button-border;
      font-size: $base-font-size-small-2;
      font-weight: 700;
      height: $button-height;
      padding: 5px 10px;
      text-transform: uppercase;
      @include transform(translateX($button-width)); //hide button
      @include transition(all 0.5s $ease-out-cubic);
      width: $button-width;

      @include media($tablet) {
        border-width: 1px 0 0 0;
        display: block;
        @include transform(translate(0));
        width: 100%;
      }
    }
  }

  ol.dropdown-menu {
    @extend %dropdown-menu;

    li.active {
      @extend %active-filter;
    }

    a {
      color: darken($base-font-color-2, 15%);
      padding-left: 28px;
    }
  }
}

.total-count {
  display: block;
  font-size: 10px;
  color: #888;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 2px;
}
