section.search-results {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 -4px 0 $shadow-1, $base-shadow;
  @include clearfix;

  div.result-stats {
    margin: 15px 0 0 $base-padding;
    font-size: $base-font-size-small-1;
    color: $base-font-color-2;
  }

  div.pagination {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.1);
    border-radius: 0 0 2px 2px;
    margin: 0;
  }
}

ol.results-list {
  margin-top: 2em;
  padding: 0 $base-padding;

  @include media($mobile) {
    padding: 0 15px;
  }

  li {
    list-style-type: none;
    margin-bottom: 23px;
  }

  h3 {
    font-size: $base-font-size + 1;
    line-height: 1.2em;
    margin: 0;

    a {
      color: saturate(darken($base-link-color-1, 5%), 100%);

      &:hover {
        color: darken($base-link-color-1, 5%);
      }

      &:visited {
        color: #609;
      }
    }
  }

  div.metadata {
    color: lighten($base-font-color, 7%);

    div {
      font-size: $base-font-size-small-1;
      font-weight: 600;
      margin-right: 20px;
      line-height: 1.4em;

      a {
        text-decoration: none;

        &:hover {
          color: $base-font-color;
          text-decoration: underline;
        }
      }
    }

    div.date-received {
        display: inline-block;
    }

    div.sender-receiver {
      display: inline-block;

      a {
        display: inline-block;
        font-style: italic;
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.sender {
          color: #915959;
        }

        &.receiver {
          color: #65A16A;
        }
      }
    }

    ol.excerpt {
      font-size: $base-font-size-small-1;
      font-weight: normal;
      margin: 3px 0 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
      }

      b {
        font-weight: 600;
        color: $base-font-color-2;
      }

      em {
        color: $base-font-color;
        font-weight: 700;
        font-style: normal;
      }
    }

    div.category {
      $color: lighten($base-font-color-2, 10%);
      color: $color;
      display: inline-block;
      font-size: $base-font-size-small-2 - 1;
      font-weight: 600;
      margin-top: 3px;
      opacity: 0.7;
      text-transform: uppercase;
      @include transition(all 0.08s);

      &:hover {
        opacity: 1;
      }

      a {
        color: $color;
        margin-left: 2px;
        white-space: nowrap;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
        color: $base-font-color-2;
        }
      }
    }

    span.arrow {
      margin: 0 10px;
      position: relative;
      top: 2px;
    }
  }
}

