%blog-entry {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 -0px 0 $shadow-2, inset 0 1px 0 #eaeaea, $base-shadow;
  margin-bottom: 30px;
}

%blog-metadata {
  font-size: $base-font-size-small-1;
  color: $base-font-color-3;
  margin-bottom: 0.6em;
  font-family: $serif;

  a {
    color: $base-font-color-3;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
