// FAQ - Accordion
//************************************************************************//
%faq-accordion {
  .wrapper {
    overflow: hidden;

    article:first-child .question {
      border-top: 0;
    }
  }

  article {
    border-radius: 3px;
    overflow: hidden;
  }

  .question {
    font-size: $base-font-size-1;
    font-weight: 500;

    a {
      @include transition(none);
      padding: 10px 20px 10px 0;
      display: block;
      text-decoration: none;
    }

    &.open {
      background: $header-background-1;

      a {
        color: #fff;
        padding-left: 20px;
      }
    }
  }

  .question.open + .answer {
    background: #fff;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.54);
    margin-bottom: 5px;
    opacity: 1;
  }

  .answer {
    display: none;
    opacity: 0;
    padding: 20px;
    @include transition(opacity 0.15s);

    &, p {
      line-height: 1.5em;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
      margin-bottom: 0.5em;
    }
  }
}
