// FAQ - Accordion
//************************************************************************//
%faq-wrapper {
  background: #fff;
  border: 1px solid $base-border-color;
  border-radius: 3px;
}

%faq-accordion {
  margin: 40px 0 0;

  .question {
    background: darken($base-background-color, 2%);
    border-top: 1px solid $base-border-color;
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 $base-border-color;
    font-size: $base-font-size-2;
    font-weight: 500;
    padding: 12px 20px;

    a {
      display: block;
      text-decoration: none;
    }
  }

  .answer {
    display: none;
    margin: 20px 45px 35px;

    @include media($mobile) {
      $m: 20px;
      margin-left: $m;
      margin-right: $m;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
      margin-bottom: 0.5em;
    }
  }
}
