// FAQ - Accordion
//************************************************************************//
%faq-accordion {
  .wrapper {
    overflow: hidden;

    article:first-child .question {
      border-top: 0;
    }
  }

  article {
    border-radius: 3px;
    overflow: hidden;
  }

  .question {
    font-size: $base-font-size-1;
    font-weight: 500;
    @include transition(background 0.25s $ease-out-quad);

    a {
      padding: 10px 20px;
      display: block;
      text-decoration: none;
    }

    &.open {
      background: $header-background-1;

      a {
        color: #fff;
      }
    }
  }

  .answer {
    background: #fff;
    display: none;
    padding: 25px $base-padding $base-padding;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.54);

    &, p {
      line-height: 1.5em;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
      margin-bottom: 0.5em;
    }
  }
}
