%notices-label {
  clear: left;
  font-size: $base-font-size-small-1 - 1;
  font-weight: bold;
  margin-top: 2px;
  @include span-columns(2.5);
  text-transform: uppercase;

  @include media($mobile) {
    display: block;
    float: none;
    @include omega;
    width: 100%;
  }
}

%notice-header {
  float: left;
  min-height: 150px;
  @include pad(20px default 30px $base-padding);
  width: 33%;
}

%header-title {
  font-size: $base-font-size;
  font-weight: 800;
  text-transform: uppercase;
  margin: 15px 20px 10px 0;
}
