<% title cms_fragment_content('page_title', @cms_page) %>

<div class="static-pages">
  <section class="main">
    <div class="main-inner">
      <%= raw cms_fragment_content('page_content', @cms_page) %>
    </div>
  </section>
</div>
