<%= content_tag_for(:article, blog_entry) do %>
  <h3 class="title">
    <%= link_to(blog_entry.title, blog_entry_path(blog_entry)) %>
  </h3>
  <%= render 'blog_entries/metadata', blog_entry: blog_entry %>
<% end %>
