<section class="works">
  <ol id="works" class="copyright-claims">
    <% works.each_with_index do |work, idx| %>
      <%= content_tag_for(:li, work) do %>
        <h4>Requests for Removal from Search Results</h4>

        <%= render 'works_urls',
                    work: work,
                    infringing_title: 'Location of Some of the Material Requested for Removal:',
                    show_original: false,
                    show_infringing: true
        %>
      <% end %>
    <% end %>
	This user requested removal of <%= @notice.url_count.nil? ? "unspecified" : @notice.url_count %> URLs.
  </ol>
</section>
