<section class="works">
  <ol id="works" class="copyright-claims">
    <% works.each_with_index do |work, idx| %>
      <%= content_tag_for(:li, work) do %>
        <h4>Defamatory claim #<%= idx + 1 %></h4>

        <div class="row">
          <span class="label infringing-title">Defamatory URLs:</span>
          <ol class="list infringing-urls">
            <% work.infringing_urls.each do |url| %>
              <%= content_tag_for(:li, url) do %>
                <%= url.url %>
              <% end %>
            <% end %>
          </ol>
        </div>
      <% end %>
    <% end %>
  </ol>
</section>
