<section class="works">
  <ol id="works" class="copyright-claims">
    <% works.each_with_index do |work, idx| %>
      <%= content_tag_for(:li, work) do %>
        <h4>Defamation Claim #<%= idx + 1 %></h4>

        <%= render 'works_urls',
                    work: work,
                    infringing_title: 'URLs of Allegedly Defamatory Material:',
                    show_original: false,
                    show_infringing: true
        %>
      <% end %>
    <% end %>
  </ol>
</section>
