<section class="notice-body">
  <% if notice.body.present? %>
    <h5 class="title">Legal Complaint</h5>
    <p class="body"><%= notice.redacted(:body) %></p>
  <% end %>
</section>

<%= render works_partial_for(notice), works: notice.works %>
