<section class="notice-body">
  <% if notice.body.present? %>
    <h5 class="title"><%= notice.customizations&.fetch('body_field_label', nil) || Translation.t('notice_show_dcma_body') %></h5>
    <p class="body"><pre><%= notice.redacted(:body) %></pre></p>
  <% end %>
</section>

<%= render 'works', notice: notice %>
