<section class="notice-body">
  <% if notice.body.present? %>
    <h5 class="title">Explanation of complaint</h5>
    <p class="body"><%= notice.redacted(:body) %></p>
  <% end %>

  <% if notice.regulations.present? %>
    <section id="tags">
      <h6>Laws or Regulations</h6>
      <%= render 'shared/regulation_list', regulations: notice.regulations %>
    </section>
  <% end %>
</section>

<%= render works_partial_for(notice), works: notice.works %>
