<section class="works">
  <ol id="works" class="copyright-claims">
    <% works.each_with_index do |work, idx| %>
      <%= content_tag_for(:li, work) do %>
        <h4>Complaint #<%= idx + 1 %></h4>
        <div class="row">
          <div class="description">
            <span class="label">Description of allegedly infringed mark</span>
            <span class="field"><%= work.description %></span>
          </div>
        </div>

        <%= render 'works_urls',
                    work: work,
                    infringing_title: 'Allegedly Infringing URLs:',
                    show_original: false,
                    show_infringing: true
        %>
      <% end %>
    <% end %>
  </ol>
</section>
