<% copyrighted_title = local_assigns.fetch(:copyrighted_title, '') %>

<% if show_copyrighted %>
  <%= render 'works_urls_type_list',
              type: 'copyrighted',
              show_copyrighted: show_copyrighted,
              copyrighted_title: copyrighted_title,
              work: work,
              url_rows: notice_version_url_rows(work, 'copyrighted', @notice) %>
<% end %>

<% if show_infringing %>
  <%= render 'works_urls_type_list',
              type: 'infringing',
              show_infringing: show_infringing,
              infringing_title: infringing_title,
              work: work,
              url_rows: notice_version_url_rows(work, 'infringing', @notice) %>
<% end %>

<% if access_just_for_researchers?(@notice) %>
  <div class="row">
    <p><%= researchers_only_notice_message(@notice) %></p>
  </div>
<% else %>
  <% if access_requestable?(@notice, show_copyrighted, show_infringing) %>
    <div class="row">
      <p><%= format(Translation.t('notice_show_works_request_access'), link: request_access_notice_path(@notice)).html_safe %></p>
    </div>
  <% end %>
<% end %>
