<ul>
  <li><%= link_to("Trademark", new_notice_path(type: :trademark)) %></li>
  <li><%= link_to("Defamation", new_notice_path(type: :defamation)) %></li>
  <li><%= link_to("International", new_notice_path(type: :international)) %></li>
</ul>
