<% title 'Public Submission Disabled' %>

<div class="inner-padding">
  <p>Direct submission to Lumen is no longer available. If you are interested in sharing with Lumen copies of takedown notices you have sent or received, please contact Lumen.</p>

  <p>Note: Lumen is not the sender or original recipient of the requests and notices within its database, and is not responsible in any way for either removing or restoring on-line content from the web or search engine listings, or for "blocking" or restoring access to websites or URLs.</p>
</div>
