<% title 'Public Submission Disabled' %>

<div class="inner-padding">
  <p>Direct submission to Lumen is no longer available. Please submit notices directly to the owner of the website hosting the content.</p>
</div>
