.media_mentions-search {
  .media-mention-result {
    .title {
      margin-bottom: 5px;
    }

    .media-mention-result-meta {
      label {
        margin-top: 5px;
        margin-bottom: 0;
      }
    }
  }
}

.media-mention-show {
  .main {
    padding: 35px;
  }

  &-metadata {
    @include clearfix;
    margin-bottom: 10px;

    &-item {
      margin-bottom: 5px;

      .label {
        @extend %notices-label;
      }

      .field {
        clear: both;
      }
    }
  }
}
