<% title 'Create DMCA Counter-Notification' %>

<section class="notice-new">
  <header>
    <h3 class="title">Create a DMCA Counter-Notification</h3>
  </header>

  <%= render "form", counter_notice: @counter_notice %>

</section>
