.high_voltage-pages {
  section.main {
    section {
      margin-bottom: 30px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    h2 {
      font-size: 20px;
      line-height: 1.4em;
      color: $base-title-color;
      font-weight: 700;
    }

    h3 {
      font-size: 18px;
      color: $base-font-color-2;
    }
  }
}

.clinics {
  .clinic {
    margin: 0;
    height: 430px;
    @include span-columns(6);
    @include omega();

    @include media($tablet) {
      @include span-columns(8);
      height: 100%;
    }

    .topics {
      margin-bottom: 15px;

      > li {
        display: inline;
      }
    }

    .people li {
      margin: 3px 0;
    }

    .note {
      margin-top: 25px;
    }

    &:nth-child(2n+1) {
      padding: 10px 30px 20px 0px;
      box-shadow: 1px 1px $base-border-color;

      @include media($tablet) {
        box-shadow:none;
        padding: 0;
      }
    }

    &:nth-child(2n) {
      padding: 10px 0px 20px 35px;
      box-shadow: 0 1px 0 $base-border-color;

      @include media($tablet) {
        box-shadow:none;
        padding: 0px;
      }
    }
  }
}

.contact {
  @include outer-container;
  clear: left;
  padding-top: 25px;

  .label {
    font-weight: bold;
  }

  .footnote {
    color: $base-font-color-2;
  }

  li {
    margin: 20px 20px 0 0;

    &:nth-child(4) {
      padding-top: 20px;
      clear: left;
    }
  }

  .details {
    margin: 0;
    padding: 0;

    .address p {
      line-height: 24px;
      margin-bottom: 0px;
    }

    li {
      @include span-columns(4);

      @include media($tablet) {
        @include span-columns(8);
      }

      &:nth-child(2) {
        clear: left;

        .label {
          margin-top: -6px;
        }
      }

      &:nth-child(3) {
        margin-top: -60px;

        @include media ($tablet) {
         margin-top: 20px;
        }
      }
    }
  }
}

ol.privacy {
  list-style-type: none;
  counter-reset: li;
  border-bottom: 1px solid $base-border-color;
  padding-bottom: 25px;

  > li {
    padding: 4px 8px;
    position: relative;
    margin: 0 0 20px 1em;

    &:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: -1px;
      left: -2em;
      padding: 4px 4px 4px 0;
      font-weight: bold;
      text-align: center;
    }

    &:nth-child(2) {
      margin-top: 10px;
    }
  }
}

ul.bulleted {
  margin: 20px 25px;

  li {
    list-style-type: disc;
    margin: 8px 0px;
  }
}
