%title-caps {
  font-size: $base-font-size-small-1;
  text-transform: uppercase;
  color: $base-font-color-2;
}

%header-title {
  font-size: $base-font-size + 1;
  font-weight: 800;
  text-transform: uppercase;
  margin: 15px 20px 10px;
}

%gray-gradient {
  @include linear-gradient(to top, #fafafa, #fff);
}

%pagination-gradient {
  @include linear-gradient(#F8F8F8, #EFF1F5);
}

%base-shadow {
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);
}

%content-container {
  border-radius: 3px;
  background: #fff;
  @include pad(30px);
  box-shadow: $base-shadow;
}

