%title-caps {
  color: $base-font-color-2;
  font-size: $base-font-size-small-1 - 1;
  font-weight: bold;
  text-transform: uppercase;
}

%gray-gradient {
  @include linear-gradient-background(to top, #fafafa, #fff);
}

%base-shadow {
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);
}

%content-container {
  border-radius: 3px;
  background: #fff;
  @include pad(30px);
  box-shadow: $base-shadow;
}
