%title-caps {
  font-size: $base-font-size-small-1;
  text-transform: uppercase;
  color: $base-font-color-2;
}

%gray-gradient {
  @include linear-gradient(to top, #fafafa, #fff);
}

%base-shadow {
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);
}

%content-container {
  border-radius: 3px;
  background: #fff;
  @include pad(30px);
  box-shadow: $base-shadow;
}

// Navigation Anchor
//************************************************************************//
%nav-anchor {
  color: #fff;
  display: block;
  font-size: $base-font-size-small-1 - 1;
  font-weight: 700;
  padding: 8px 10px;
  text-decoration: none;
  @include transition(all 0.08s);

  &:hover {
    background: $nav-hover;
    color: white;
  }
}

// FAQ - Accordion
//************************************************************************//
%faq-accordion {
  margin: 40px 0 0;

  .question {
    background: darken($base-background-color, 2%);
    border-top: 1px solid $base-border-color;
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 $base-border-color;
    font-size: $base-font-size-2;
    font-weight: 500;
    padding: 12px 20px;

    a {
      display: block;
      text-decoration: none;
    }
  }

  .answer {
    display: none;
    font-size: $base-font-size-small-1;
    margin: 20px 45px 30px;
  }

  p, li {
    font-size: $base-font-size-small-1;
  }

  li {
    list-style-type: circle;
  }
}

//************************************************************************//
// Search Form Base Styles
//************************************************************************//
%search-form {
  form {
    @include clearfix;
    font-size: 0;
    position: relative;
    text-align: center;
    width: $home-search-input-w;
  }

  div.input {
    input {
      height: $home-search-input-h;
      padding-right: $home-search-button-w + 15px;
      width: $home-search-input-w;

      &:not(:focus) {
        border-color: #A4B6C5;
      }
    }
  }

  div.submit {
    position: absolute;
    float: right;
    top: 0;
    right: 0;

    button {
      border: 1px solid #2D61BA;
      @include border-right-radius(3px);
      color: white;
      height: $home-search-input-h;
      font-size: 22px;
      @include icon(icon-search);
      @include linear-gradient(#4383ED, #2C68CD);
      line-height: 1em;
      padding: 0;
      text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.4);
      width: $home-search-button-w;

      &:before {
        margin-right: -0.1em;
      }
    }
  }
}
