@import "neat-helpers"; // or "neat/neat-helpers" when not in Rails

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1100px;

// Define your breakpoints
$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 768px 8);
$small-screen: new-breakpoint(max-width 1024px 10);
$desktop: new-breakpoint(min-width 1025px 12);
$retina: new-breakpoint(min-device-pixel-ratio 2 min-resolution 192dpi);
