///////////////////////////////////////////////////////////////////////////////
//
//  Global Variables
//
///////////////////////////////////////////////////////////////////////////////
$base-padding: 35px;
$base-padding-mobile: 20px;
$form-bg-padding: 12px;


// New-Submission Form
//************************************************************************//
$form-label-width: 120px;
$form-label-margin: 10px;

// Colors
///////////////////////////////////////////////////////////////////////////////
$button-gradient-1: #4383ED;
$button-gradient-2: #2C68CD;
$button-border: #2D61BA;

$home-width: 750px;
$home-search-input-w: 600px - $form-bg-padding*2;
$home-search-input-h: 42px;
$home-search-button-w: 70px;

$search-input-color: #4C6FBE;
$search-button-bg: #72C97D;
$search-button-width: 70px;
$search-button-width-adv: 24px;

$header-background-1: #5E8FD5;
$header-background-2: #4F6D9B;
$header-background-3: #425E8A;

$blue: #477DCA;
$dark-gray: #444;
$medium-gray: #808080;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$home-background-color: #FAFAFA;
$base-background-color: #DAE2EF; // blue
$base-background-color-alt: #F7F9FB; //whiteish

//  Font Colors
$base-font-color: $dark-gray;
$base-font-color-2: #777A83;
$base-font-color-3: #8994A0;

$base-title-color: #444B5C;

$base-font-size-small-2: 11px;
$base-font-size-small-1: 13px;
$base-font-size: 15px;
$base-font-size-1: 17px;
$base-font-size-2: 19px;

//  Text Link Colors
$base-link-color: $blue;
$hover-link-color: darken($blue, 15%);

$base-link-color-1: #1C7ED6;
$hover-link-color-1: darken($base-link-color-1, 15%);

$nav-link-color: darken(#4C6FBE, 5%);
$nav-hover-link-color: darken($nav-link-color, 20%);

// Border color
$base-border-color: $light-gray;
$base-border-color-1: #E1E1E1;
$base-border-color-2: #D1D3D8;

$base-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);

// Navigation
$nav-hover: #A379CE;
$nav-hover-border: darken($nav-hover, 20%);
$nav-bg: $header-background-3;
$nav-color: hsla(0, 0%, 100%, 0.75);

// Box-shadow borders
$shadow-1: #8793B1; // blueish gray
$shadow-2: #1dbea2; // Blue - Blog
$shadow-3: #80C761; // Green - Recent

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
