///////////////////////////////////////////////////////////////////////////////
//
//  Global Variables
//
///////////////////////////////////////////////////////////////////////////////
$base-padding: 35px;
$left-margin: 200px;


// New-Submission Form
//************************************************************************//
$form-label-width: 120px;
$form-label-margin: 10px;

// Colors
///////////////////////////////////////////////////////////////////////////////

$home-width: 750px;
$home-search-input-w: 500px;
$home-search-input-h: 52px;
$home-search-button-w: 70px;

$header-background: #E9E9E9;

$blue: #477DCA;
$dark-gray: #333;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$base-background-color: #FAFAFA;

//  Font Colors
$base-font-color: $dark-gray;
$base-font-color-2: #777A83;
$base-font-color-3: #8994A0;

$base-title-color: #444B5C;

$base-font-size-small-2: 11px;
$base-font-size-small-1: 13px;
$base-font-size: 15px;
$base-font-size-1: 17px;
$base-font-size-2: 19px;

//  Text Link Colors
$base-link-color: $blue;
$hover-link-color: darken($blue, 15%);

$base-link-color-1: #1C7ED6;
$hover-link-color-1: darken($base-link-color-1, 15%);

$nav-link-color: #656C7E;
$nav-hover-link-color: darken($nav-link-color, 20%);

// Border color
$base-border-color: $light-gray;
$base-border-color-1: #E1E1E1;
$base-border-color-2: #D1D3D8;

$base-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);

// Navigation
$nav-hover: #1C7ED6;
$nav-hover-border: darken($nav-hover, 20%);
$nav-bg: #3B4758;
$nav-color: hsla(0, 0%, 100%, 0.75);

// Box-shadow borders
$shadow-1: #8793B1; // blueish gray
$shadow-2: #1dbea2; // Blue - Blog
$shadow-3: #80C761; // Green - Recent
$shadow-4: #FF8158; // Orange

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
