<% label = local_assigns[:label] || @notice.class.label %>
<header>
  <h3 class="title">Report a <%= label.titleize %></h3>
  <p>If you have sent or received a <%= label %> and want to submit it to our database, fill out the form below.</p>
  <p class="disclaimer">Please do not include phone numbers, email addresses, personal name, or other private information other than those of the complainant.</p>
</header>
