$background-white: #FFFFFF;
$background-blue: #019CE0;
$border-gray: #696969;
$light-border: #b8b8b8;

@mixin font-styles {
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
}

@mixin pos-height($ht) {
  min-height: $ht;
  position: relative;
}

@mixin font-size-ht($size, $ht) {
  font-size: $size;
  line-height: $ht;
}

@mixin height-max-height {
  max-height: 100%;
  height: 100%;
}

.statistics-body {
  @include font-styles;
  @include pos-height(100vh);
  background: rgba(203, 203, 210, 0.15);
  line-height: 1.42 !important;
}

.statistics-section {
  h4 {
    @include font-size-ht(22px, 30px);
  }

  p {
    @include font-size-ht(16px, 1.5);
  }

  a {
    text-decoration: none !important;
  }

  .wrapper {
    height: 100vh;
    top: 0;
  }

  .wrapper .sidebar {
    @include height-max-height;
    position: fixed;
    top: 0;
    bottom: 0;
    right: auto;
    left: 0;
    width: 260px;
    display: block;
    z-index: 1;
    color: $background-white;
    font-weight: 200;
    background-size: cover;
    background-position: center center;

    .sidebar-wrapper {
      background-color: $background-blue;
      position: relative;
      max-height: calc(100vh - 75px);
      min-height: 100%;
      overflow: auto;
      width: 260px;
      z-index: 4;
      padding-bottom: 100px;
    }
    .logo {
      padding: 10px 15px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .logo .simple-text {
      text-transform: uppercase;
      padding: 5px 0px;
      display: block;
      font-size: 18px;
      color: $background-white;
      text-align: center;
      font-weight: 400;
      line-height: 30px;
    }
    .nav {
      margin-top: 20px;
      float: none;
    }
    .nav li:hover > a {
      background-color: rgba(255, 255, 255, 0.13);
      opacity: 1;
    }
    .nav li > a {
      color: $background-white;
      margin: 5px 15px;
      opacity: 0.86;
      border-radius: 4px;
      display: block;
    }

    .nav li.active > a {
      color: $background-white;
      opacity: 1;
      background: rgba(255, 255, 255, 0.23);
    }

    .nav p {
      margin: 0;
      line-height: 30px;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
  } /* sidebar styling ends*/

  .main-panel {
    @include height-max-height;
    position: relative;
    z-index: 2;
    float: right;
    width: calc(100% - 260px);

    .container-fluid {
      margin-top: 1px;
    }

    & > .content {
      padding: 30px 15px;
      min-height: calc(100% - 123px);
    }

    & > .footer {
      border-top: 1px solid $light-border;
    }
    .navbar {
      margin-bottom: 0;
    }
  } /* main panel styling ends*/
  .domain-wise-value {
      margin-top: 15px;
      margin-bottom: 15px;
  }

  .form-control {
    background-color: $background-white;
    border: 1px solid $light-border;
    border-radius: 4px;
    color: $border-gray;
    padding: 8px 12px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:focus {
      background-color: $background-white;
      border: 1px solid $light-border;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: 0 !important;
      color: $border-gray;
    }
  } /* form control ends here*/
  .navbar {
    border: 0;
    font-size: 16px;
    border-radius: 0;
    height: 61px !important;

    .navbar-nav > li > a {
      padding: 10px 15px;
      margin: 10px 3px;
      position: relative;
    }

    &.fixed {
      width: calc(100% - $sidebar-width);
      right: 0;
      left: auto;
      border-radius: 0;    
    }
    .navbar-nav > li > .dropdown-menu {
      border-radius: 10px;
      margin-top: -5px;
    }
  } /* navbar section ends here */
  .footer {
    background-color: $background-white;
    line-height: 20px;
  }

  .navbar-default {
    background-color: rgba(255, 255, 255, 0.96);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .navbar-nav > .active > a {
      background-color: transparent;
      border-radius: 3px;
      color: $background-blue;
      opacity: 1;
      filter: alpha(opacity=100);
    }

    .navbar-nav > li > a {
      color: $light-border;
    }
  } /* navbar default ends here */  

  .card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: $background-white;
    margin-bottom: 30px;

    .content {
      padding: 15px 15px 10px 15px;
    }

    .header {
      padding: 15px 15px 0;
    }

    .category, label {
      font-size: 14px;
      font-weight: 400;
      color: $light-border;
      margin-bottom: 0px;
    }

    label {
      font-size: 12px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    .title {
      margin: 0;
      color: $border-gray;
      font-weight: 300;
    }

    .ct-chart {
      margin: 30px 0 30px;
      height: 245px;
    }
  } /* card ends here */
  .value{
    font-weight: 100;
    font-size: 50px;
    color: $border-gray;
    padding-bottom: 10px;
  }
}
