<article class="blog_entry">
  <h3 class="title"><%= @blog_entry.title %></h3>
  <div class="metadata"><%= publishing_info(@blog_entry) %></div>

  <section id="content">
    <%= raw @blog_entry.content_html %>
  </section>
</article>
