<section class="<%= role %>">
  <h5><%= role %></h5>
  <h6><%= entity.name %></h6>
  <% if entity.addressed? %>
    <span class="redacted">[Address Redacted]</span>
  <% end %>
  <span><%= entity.kind %></span>
</section>
