<div class="col-md-12">
  <div class="card ">
    <%=render partial: 'header', locals: { display_title: "Date-wise URL's", display_subtitle: "Select date range from the menu below to get URL's submitted in that range" } %>
    <div class="content">
        <!-- Graph will come here-->
      <div class="footer">
        Start Date: <input id="startDate" width="276"/>
        End Date: <input id="endDate" width="276">
        <hr>
        <div class="stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
</div>