<div class="card">
  <%=render partial: 'header', locals: { display_title: display_title, display_subtitle: display_subtitle } %>
  <div class="content">
    <div class="value"><%= display_count %></div>
  </div>
</div>