footer.main {
  background: $base-background-color-alt;
  color: $base-font-color-3;
  font-size: $base-font-size-small-1;
  font-weight: 500;

  div.inner-wrapper {
    @include clearfix;
    @include container;
    margin: 0 auto;
    padding: 0;
  }

  span, nav {
    float: left;
  }

  span, a {
    margin: 40px 25px;
    display: inline-block;
  }

  @include media($mobile) {
    span, a {
      margin: 10px 25px;
      display: block;
    }
  }

  a {
    color: $base-font-color-3;
    text-decoration: none;

    &:hover {
      color: $base-link-color;
    }
  }
}
