footer.footer {
  margin-top: auto;
  padding: 15px 30px;
  background-color: #f2f2f2;
  color: #70757a;

  a {
    color: #70757a;
  }

  .footer-cc-img {
    vertical-align: middle;
    height: 16px;
  }
}
