//************************************************************************//
// Header
//************************************************************************//
header.app {
}

//************************************************************************//
// Form
//************************************************************************//
header.app {
  .container {
    @extend %search-form;
    border-bottom: 1px solid $base-border-color;
    @include clearfix;
    padding: 20px;

    &.search {
      @include linear-gradient(hsl(43, 41%, 98%), hsl(43, 7%, 92%));
    }
  }

  .width-wrapper {
    @include container;
  }

  h1 {
    margin: 0 30px 0 0;
    float: left;

    img {
      margin-top: 5px;
      height: 30px;
    }

    @include media($mobile) {
      float: none;
      display: block;
      text-align: center;
      margin: 0;

      img {
        margin: 0 auto 15px;
        display: block;
      }
    }
  }

  $input-height: 42px;
  .container form {
    float: left;
    margin: 0;
    width: 530px;

    @include media($tablet) {
      padding-left: 210px;
      position: absolute;
      right: 10px;
      width: 100%;
    }

    @include media($mobile) {
      padding: 0;
      position: relative;
      right: 0;
    }

    div.input input {
      height: $home-search-input-h;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-bottom: 0;
      width: 100%;
    }

    div.submit .search-dropdown {
      border: 1px solid darken($button-border, 3%);
      @include border-right-radius(2px);
      border-left: 0;
      float: left;
      @include linear-gradient(#2868D1, #295EB8);
      box-shadow: -1px 0 0 darken($button-border, 6%);
        width: 24px;
        height: $input-height;

      a.dropdown-toggle {
        display: block;
        height: 100%;
        @include hide-text;
        position: relative;

        &:after {
          position: absolute;
          content: "";
          left: 7px;
          top: 50%;
          margin-top: -2px;
          @include triangle(8px, #fff, down);
        }
      }

      ol {
        @extend %dropdown-menu;
        display: none;
        font-size: $base-font-size-small-1 - 1;
        left: auto;
        list-style: none;
        margin-top: 2px;
        padding: 0;
        position: absolute;
        right: 0;
        text-align: left;
        width: 200px;
      }

      &.open ol {
        display: block;
      }
    }

    div.submit button {
      float: left;
      height: $input-height;
      font-size: 22px;
    }
  }
}

//************************************************************************//
// Advanced Search
//************************************************************************//
.container.advanced-search {
  background: #fff;
  font-size: $base-font-size-small-1;
  text-align: left;
  display: none;

  .width-wrapper {
    padding-left: $left-margin - 11px;

    @include media($tablet) {
      padding-left: 0;
    }
  }

  h5 {
    font-size: $base-font-size-small-1;
    margin-bottom: 10px;
  }

  div.field-group {
    border-radius: 2px;
    box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.04);
    clear: left;
    @include clearfix;
    float: left;
    margin-bottom: 10px;
  }

  $input-height: 32px;
  $input-width: 280px;
  $select-width: 160px;
  div.select {
    @include clearfix;
    float: left;
    position: relative;

    &:after {
      content: "";
      font-weight: 600;
      margin-top: -2px;
      pointer-events: none;
      position: absolute;
      right: 12px;
      top: 50%;
      @include triangle(8px, $base-font-color-3, down);
    }

    select {
      @extend %gray-gradient;
      @include appearance(none);
      @include linear-gradient(#FAFAFA, #E9E9E9);
      font-weight: 600;
      border: 1px solid $base-border-color-2;
      border-radius: 2px 0 0 2px;
      border-right: 0;
      font-size: $base-font-size-small-1 - 1;
      height: $input-height;
      margin-bottom: 0;
      padding: 5px 30px 5px 10px;
      width: $select-width;
      color: darken($base-font-color-2, 5%);

      @include media($mobile) {
        width: $select-width / 2;
      }
    }
  }

  input {
    font-size: $base-font-size-small-1;
    padding: 5px 10px;
    height: $input-height;
    @include border-left-radius(0);
    margin: 0;
    width: $input-width;

    @include media($mobile) {
      width: $input-width - 20px;
    }
  }

  a.add-group {
    font-weight: 600;
    display: inline-block;
    margin-top: 5px;
    float: left;
    margin-left: 15px;
  }

  div.resubmit {
    clear: both;

    button {
      font-size: $base-font-size-small-2;
      font-weight: 600;
      display: block;
      padding: 0.65em 1.8em;
      width: $select-width + $input-width;
    }
  }
}
