header.app {
  @extend %search-form;
  @include clearfix;
  @include linear-gradient(hsl(43, 41%, 98%),hsl(43, 7%, 92%));

  .container {
    @include outer-container;
    padding: 30px $gutter;
  }

  h1 {
    margin: 0 80px 0 0;
    float: left;

    img {
      height: 42px;
      display: block;
    }
  }

  $input-height: 42px;
  form {
    margin: 0;
    float: left;

    div.input input {
      height: 42px;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-bottom: 0;
    }

    div.submit button {
      height: $input-height;
      font-size: 22px;
    }
  }
}

//************************************************************************//
// Navigation
//************************************************************************//
header.app {
  nav {
    border-bottom: 1px solid $base-border-color;
    border-top: 1px solid $base-border-color;
    clear: left;
    background: #fff;

    ol {
      @include clearfix;
      margin: 0 auto;
      @include outer-container;
      padding: 0 $gutter;

      li {
        margin-right: 15px;
        list-style: none;
        float: left;

        a {
          color: $base-font-color;
          display: block;
          font-size: $base-font-size-small-1;
          font-weight: 600;
          padding: 14px 30px 14px 5px;
          text-decoration: none;
        }
      }
    }
  }
}
