header.app {
  @extend %search-form;
  @include clearfix;
  @include linear-gradient(hsl(43, 41%, 98%), hsl(43, 7%, 92%));

  .container {
    @include container;
    padding: 20px;
  }

  h1 {
    margin: 0 30px 0 0;
    float: left;

    img {
      margin-top: 5px;
      height: 30px;
      display: block;
    }
  }

  $input-height: 42px;
  form {
    margin: 0;
    float: left;
    width: 530px;

    div.input input {
      height: 42px;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-bottom: 0;
      width: 100%;
    }

    div.submit button {
      height: $input-height;
      font-size: 22px;
    }
  }
}

//************************************************************************//
// Navigation
//************************************************************************//
header.app {
  nav {
    border-bottom: 1px solid $base-border-color;
    border-top: 1px solid $base-border-color;
    clear: left;
    background: #fff;

    ol {
      @include container;
      margin: 0;
      padding: 0 0 0 $left-margin;

      li {
        margin-right: 15px;
        list-style: none;
        float: left;

        a {
          color: $base-font-color;
          display: block;
          font-size: $base-font-size-small-1;
          font-weight: 600;
          padding: 6px 6px 6px 6px;
          text-decoration: none;
        }
      }

      li.about {
        float: right;
        margin-right: $base-padding;
      }
    }
  }
}
