//************************************************************************//
// Header
//************************************************************************//
header.app {
  @extend %search-form;
  @include clearfix;
  @include linear-gradient(hsl(43, 41%, 98%), hsl(43, 7%, 92%));
  border-bottom: 1px solid $base-border-color;
}

//************************************************************************//
// Form
//************************************************************************//
header.app {
  .container {
    @include container;
    padding: 20px;
  }

  h1 {
    margin: 0 30px 0 0;
    float: left;

    img {
      margin-top: 5px;
      height: 30px;
      display: block;
    }
  }

  $input-height: 42px;
  form {
    margin: 0;
    float: left;
    width: 530px;

    div.input input {
      height: 42px;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-bottom: 0;
      width: 100%;
    }

    div.submit button {
      height: $input-height;
      font-size: 22px;
    }
  }
}

//************************************************************************//
// Navigation
//************************************************************************//
header.app {
  ol.nav-list {
    @include container;
    margin: 0;
    padding: 0 0 0 $left-margin;

    li.nav-item a {
      font-size: $base-font-size-small-1;
      padding: 6px 15px;
    }

    li.about {
      float: right;
      margin-right: $base-padding;
    }
  }

  #dropdown-categories {
    @include ui-dropdown(left, $width: 200px);
    margin-top: 4px;

    li a {
      @extend %nav-anchor;
    }
  }
}
