//************************************************************************//
// Main Navigation Shared
//************************************************************************//
nav.main-nav {
  background: $nav-bg;
  border-bottom: 1px solid darken($nav-bg, 15%);
  clear: left;

  .nav-item {
    float: left;
    list-style: none;
    position: relative;

    @include media($small-screen){
      position: static;
    }

    > a {
      @extend %nav-anchor;
      color: $nav-color;
      font-size: $base-font-size-small-1;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

      &:focus {
        outline: none;
      }

      &:hover {
        color: #fff;
      }
    }

    &.open {
      background: lighten($nav-bg, 5%);
      color: #fff;
    }
  }

  #dropdown-categories {
    @include media($small-screen){
      background: darken($nav-bg, 4%);
      @include border-top-radius(0);
      left: 0;
      margin-left: 0;
      margin-top: 0;
      padding-top: 0;
      width: 100%;

      > ol {
        position: relative;
        width: 33.4%;
        background: $nav-bg;
      }

      li.dropdown-submenu {
        position: static;

        .dropdown-menu {
          margin-top: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

//************************************************************************//
// Landing Page
//************************************************************************//
body.home-index {
  nav.main-nav {
    ol.nav-list {
      max-width: $home-width;
      margin: 0 auto;
      border-radius: 0 0 3px 3px;
      @include clearfix;
      margin-top: 0;
      padding: 0;
      width: 100%;

      li.nav-item {
        text-align: center;
        width: 25%;
      }

      li.search {
        display: none;
      }
    }
  }
}

//************************************************************************//
// App Header Navigation - not landing
//************************************************************************//
header.app {
  ol.nav-list {
    @include container;
    margin: 0;
    padding: 0 0 0 $left-margin;

    @include media($small-screen) {
      padding: 0;
    }

    li.nav-item > a {
      font-size: $base-font-size-small-1;
      padding: 6px 15px;

      &:focus {
        outline: none;
      }
    }

    li.about {
      float: right;
      margin-right: $base-padding;
    }
  }
}

//************************************************************************//
// Dropdown Menu
//************************************************************************//
.dropdown {
  &.open > .dropdown-menu {
    display: block; // Open dropdown menu on click
  }
}

// Global Dropdown Menu Styles
//************************************************************************//
li.nav-item .dropdown-menu {
  @include ui-dropdown(center, $width: 240px, $nub-bg-color: $nav-bg, $nub-border-color: none);
  background: $nav-bg;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  margin-top: 14px;

  // Remove nub
  @include media($small-screen){
    &:before, &:after {
      display: none;
    }
  }

  ol {
    overflow: visible;
  }

  li a {
    @extend %nav-anchor;
    line-height: 1.2;
    padding: 10px 15px;
  }
}

// Submenu
//************************************************************************//
li.dropdown-submenu {
  position: relative;
  @include clearfix;

  > a {
    padding-right: 30px;
    position: relative;

    &:after {
      @include triangle(12px, hsla(0, 0%, 100%, 0.6), right);
      position: absolute;
      content: "";
      top: 50%;
      margin-top: -6px;
      right: 8px;
    }
  }

  .dropdown-menu {
    width: 200px;
    @include border-left-radius(0);
    display: none;
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    border-left: 1px solid darken($nav-bg, 15%);

    &:before, &:after {
      display: none;
    }
  }

  &:hover {
    background: $nav-hover;

    .show-submenu {
      background: $nav-hover;
      color: #fff;
    }

    > .dropdown-menu {
      display: block;
    }
  }

  li.title {
    text-transform: uppercase;
    font-size: $base-font-size-small-2 - 1;
    color: $nav-color;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    padding: 3px 15px;
    font-weight: bold;
    background: hsla(0, 0%, 0%, 0.2);
  }
}
