//************************************************************************//
// Pagination
//************************************************************************//
.pagination {
  background: $header-background-2;
  border-radius: 0 0 4px 4px;
  @include clearfix;
  overflow: hidden;
  position: relative;
  font-style: normal;

  .current {
    color: hsla(0, 0%, 100%, 0.4);
    font-weight: 700;
  }

  span, a {
    color: #fff;
    font-size: $base-font-size - 1;
    float: left;
  }

  span a, span.gap, span.current{
    border-right: 1px solid hsla(0, 0%, 0%, 0.1);
    padding: 0.6em 1em;
  }

  span.first, span.last {
    display: none;
  }

  a {
    text-decoration: none;

    &:hover {
      background: $header-background-3;
      box-shadow: -1px 0 0 hsla(0, 0%, 0%, 0.1);
      color: #fff;
      position: relative;
    }
  }

  .prev, .next{
    background: $header-background-2;
  }

  .next{
    border-left: 1px solid hsla(0, 0%, 0%, 0.1);
    border-right: 0;
    float: right;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      box-shadow: none;
    }
  }
}
