//************************************************************************//
// Pagination
//************************************************************************//
.pagination {
  background: $header-background-2;
  border-radius: 0 0 4px 4px;
  @include clearfix;
  overflow: hidden;
  position: relative;

  span, em, a {
    color: #fff;
    border-right: 1px solid hsla(0, 0%, 0%, 0.1);
    font-size: $base-font-size - 1;
    float: left;
    padding: 0.6em 1em
  }

  a {
    text-decoration: none;

    &:hover {
      background: $header-background-3;
      box-shadow: -1px 0 0 hsla(0, 0%, 0%, 0.1);
      color: #fff;
      position: relative;
    }
  }

  em {
    font-style: normal;
    font-weight: 700;

    &.current {
      color: hsla(0, 0%, 100%, 0.4);
    }
  }

  span.disabled.previous_page,
  span.disabled.next_page {
    display: none;
  }

  span.gap {
    border: 0;
  }

  .previous_page,
  .next_page {
    font-weight: 600;
    background: $header-background-2;
  }

  .next_page {
    border-left: 1px solid hsla(0, 0%, 0%, 0.1);
    border-right: 0;
    float: right;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      box-shadow: none;
    }
  }
}
