.tipsy {
  $bg: #333;
  margin-top: 3px;

  .tipsy-inner {
    border-radius: 0;
    background-color: $bg;
    font-weight: 600;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .tipsy-arrow-n { border-bottom-color: $bg; }
  .tipsy-arrow-s { border-top-color:    $bg; }
  .tipsy-arrow-e { border-left-color:   $bg; }
  .tipsy-arrow-w { border-right-color:  $bg; }
}
