<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name='ROBOTS' content='NOODP' />
  <title>Lumen - Maintenance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/error_style.css" rel="stylesheet" type="text/css">
</head>
<body class="home">
  <nav class="main-nav">&nbsp;</nav>
  <section class="main home">
    <section class="home-search-form">
      <h1><img alt="Lumen Logo" src="/logo_2x.png" height="82" width="340"></h1>
    </section>
    <div class="site-news">
      <section>
        <h2>Down for Maintenance</h2>
        <% if reason.present? %>
          <%= reason %>
        <% else %>
          <p>
            Lumen is down for maintenance. It should be back shortly.
          </p>
        <% end %>
      </section>
    </div>
  </section>
  <footer class="main">
    <div class="inner-wrapper">
      <span>© 2019 Lumen</span>
    </div>
  </footer>
</body>
</html>
