body {
  background: #fff;
}

section.main {
  background: $base-background-color;
}

.main-inner {
  @include container;
  padding: 40px $gutter 40px 210px;

  @include media($small-screen) {
    padding: 40px $gutter;
  }
  @include media($mobile) {
    padding: 40px 10px;
  }
}
