body {
  background: $base-background-color;
}

.main.app {
  // padding-top: 30px;
}

.main-inner, .header-inner {
  @include container;
  margin: 0 auto;

  @include media($small-screen) {
    margin: 0 $base-padding;
  }

  @include media($mobile) {
    margin: 0 10px;
  }
}

.header-inner {
  padding-top: 20px;
}

.main-inner {
  background: #fff;
  border-radius: 0 0 4px 4px;
  margin-bottom: 40px;

}

// Add inner padding to certain pages
body.categories-show,
body.high_voltage-pages {
  .main-inner {
    padding: $base-padding;

    @include media($tablet) {
    }

    @include media($mobile) {
      padding: $base-padding-mobile;
    }
  }
}
