body {
  background: $base-background-color-alt;
}

section.main.app {
  background: $base-background-color;
  padding-bottom: 30px;
}

.main-inner, .header-inner {
  @include container;
  margin: 0 auto;

  @include media($small-screen) {
    margin: 0 $base-padding;
  }

  @include media($mobile) {
    margin: 0 10px;
  }
}

.header-inner {
  padding-top: 20px;

  @include media($tablet) {
    padding-top: 20px + 35px;
  }

  @include media($mobile) {
    padding-top: 20px + 40px;
  }
}

.main-inner {
  background: #fff;
  border-radius: 0 0 4px 4px;
  margin-bottom: 40px;
}

.inner-padding {
  @include clearfix;
  padding: $base-padding;

  @include media($mobile) {
    padding: $base-padding-mobile;
  }
}

// Add inner padding to certain pages
body.topics-show, .high_voltage-pages {
  .main-inner {
    padding: $base-padding;

    @include media($mobile) {
      padding: $base-padding-mobile;
    }
  }
}
