.landing-logo {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #ffffff;
}

.landing-content {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid #c9ccd1;
  background-color: #ffffff;
  padding: 1.5rem;
  margin-top: 3rem;

  h1:first-child {
    margin-top: 0;
  }

  img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
  }

  .landing-image-full {
    margin: -1.5rem -1.5rem 0;
  }
}
