body.devise-sessions,
body.devise-passwords {
  background: $base-background-color;

  .main {
    position: relative;
    width: auto;
  }

  .main-inner {
    background: none;
    height: 50%;
    margin: auto;
    @include position(fixed, 0px 0px 0px 0px);
    min-width: 300px;
    max-width: 360px;

    @include media($mobile) {
      margin-top: 40px;
    }
  }

  .container {
    background: $base-background-color-alt;
    border-radius: 4px;
    overflow: hidden;

    > h2 {
      background: $header-background-1;
      border-radius: 4px 4px 0 0;
      color: #fff;
      font-size: em(22, 15);
      font-weight: 600;
      margin: 0;
      padding: 8px $base-padding;
    }
  }

  input {
    width: 100%;
  }

  form {
    padding: $base-padding $base-padding 0;

    div {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
        margin-top: 1.5em;
      }
    }

    h2 {
      display: none;
    }

    ul {
      background: $error-color;
      color: darken($error-color, 60%);
      list-style: none;
      margin: 0;
      padding: 0;
      padding: 5px;
      text-align: center;
    }

  }

  a {
    display: block;
    font-size: $base-font-size-small-1 - 1px;
    padding:  25px $base-padding;
    text-align: center;
  }

  div#flash_alert {
    border-radius: 3px 3px 0 0;
    margin: 0 15px;
  }

  br {
    display: none;
  }
}
