<% title 'Registration received' %>

<div class="inner-padding">
  <article class="enterprise-registration-received">
    <section class="body">
      <h1>Thanks - we received your registration</h1>

      <p>
        Our team will review your Lumen Enterprise request and email you once a
        decision has been made. There's nothing you need to do right now.
      </p>

      <p>
        Questions in the meantime? Contact us at
        <%= mail_to 'team@lumendatabase.org' %>.
      </p>
    </section>
  </article>
</div>
