<%
  extra_class = " #{field[:parameter]}"
  if params[field[:parameter]].blank?
    extra_class += ' hidden'
  end
%>
<div class="field-group<%= extra_class %>">
  <div class="input select">
    <%=
      select_tag(
        'search-field',
        options_for_select(
          Notice::SEARCHABLE_FIELDS.collect{|f| [f[:name], f[:parameter]]},
          field[:parameter]
        )
    ) %>
  </div>
  <%= text_field_tag field[:parameter], params[field[:parameter]], id: nil %>
</div>
