<% title Translation.t('error_view_title') %>

<div class='static-pages'>
  <section class="main-inner">
    <% if defined? message %>
      <p>
        <%= message %>
      </p>
    <% else %>
      <%= Translation.t('error_view_text') %>
    <% end %>
  </section>
</div>
