<footer class="main">
  <div class="inner-wrapper">
    <span>&copy; 2013 ChillingEffects</span>
    <nav>
    <%= link_to "Privacy", page_path("privacy") %>
    <%= link_to "Disclaimer", page_path("disclaimer") %>
    <%= link_to "Login", user_session_path %>
    </nav>
  </div>
</footer>
