<footer class="main">
  <div class="inner-wrapper">
    <span>&copy; 2013 ChillingEffects</span>
    <nav>
    <%= link_to "Privacy", page_path("privacy") %>
    <%= link_to "Disclaimer", page_path("disclaimer") %>
    <% if current_user %>
      <%= link_to "Admin", rails_admin_path %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
    </nav>
  </div>
</footer>
