<header class="app">
  <%= render 'shared/navigation' -%>
  <div class="container">
    <h1>
      <%= link_to root_path, :id => "root" do %>
        <%= image_tag("logo.svg") %>
      <% end %>
    </h1>
    <%= render 'shared/search' %>
  </div>
  <div class="container advanced-search">
    <div class="advanced-search">
      <h5><span>Advanced Search</span> &ndash; Add additional search queries</h5>
      <div class="field-group">
        <div class="input select">
          <select class="field">
            <option>All</option>
            <option>Title</option>
            <option>Infringing URL</option>
          </select>
        </div>
        <input type="text">
      </div>
      <a href="#" class="add-group">Add query +</a>
      <div class="resubmit">
        <button class="button">Advanced Search</button>
      </div>
    </div>
</div>
</header>
