<header class="app">
  <div class="container">
    <h1><%= image_tag("logo.svg") %></h1>
    <form>
      <div class="input">
        <input type="search" placeholder="Search C&D notices…">
      </div>
      <div class="submit">
        <button class="reset" type="submit" title="search"></button>
      </div>
    </form>
  </div>
  <%= render 'shared/navigation' -%>
</header>
