<header class="app">
  <div class="container">
    <h1>
      <%= link_to root_path, :id => "root" do %>
        <%= image_tag("logo.svg") %>
      <% end %>
    </h1>
    <form>
      <div class="input">
        <input type="search" placeholder="Search C&D notices…">
      </div>
      <div class="submit">
        <button class="reset" type="submit" title="search"></button>
      </div>
    </form>
  </div>
  <%= render 'shared/navigation' -%>
</header>
