<div class="nav-wrapper">
  <div>
    <%= link_to root_path, id: "root" do %>
      <%= image_tag("logo_2x.png", size: "265x64") %>
    <% end %>
  </div>
  <div class="flex-end">
    <%= render 'shared/navigation' %>
  </div>
</div>
