<header class="app">
  <%= render 'shared/navigation' -%>
  <div class="container">
    <h1>
      <%= link_to root_path, :id => "root" do %>
        <%= image_tag("logo.svg") %>
      <% end %>
    </h1>
    <%= render 'shared/search' %>
  </div>
</header>
