<nav class="main-nav">
  <ol class="nav-list">
    <li class="nav-item search">
      <%= link_to("Search", root_path) %>
    </li>
    <li class="nav-item new-notice">
      <%= link_to("Report C&D Notice", new_notice_path) %>
    </li>
    <li class="nav-item blog">
      <a href="">Weather Reports</a>
    </li>
    <li class="nav-item categories">
      <a href="#" data-dropdown="#dropdown-categories">Categories</a>
      <div id="dropdown-categories" class="dropdown dropdown-relative">
        <ol class="dropdown-menu">
          <% available_categories.each do |category| %>
            <%= link_to(category.name, category_path(category)) %>
          <% end %>
        </ol>
      </div>
    </li>
    <li class="nav-item about">
      <a href="">About</a>
    </li>
</nav>

