<nav class="main-nav">
  <ol>
    <li>
      <%= link_to("Report C&D Notice", new_submission_path) %>
    </li>
    <li>
      <a href="">Weather Reports</a>
    </li>
    <li>
      <a href="">About</a>
    </li>
    <li>
      <a href="">Topics</a>
    </li>
</nav>

