<nav class="main-nav">
  <ol class="nav-list">
    <li class="nav-item search">
      <%= link_to("Search", root_path) %>
    </li>
    <li class="nav-item new-notice">
      <%= link_to("Report C&D Notice", new_notice_path) %>
    </li>
    <li class="nav-item blog">
      <%= link_to("Weather Reports", blog_entries_path) %>
    </li>
    <li class="nav-item categories dropdown">

      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories</a>

      <div id="dropdown-categories" class="dropdown-menu" role="menu">
        <ol>
          <li class="dropdown-submenu">
            <a href="/categories/1">Anticircumvention (DMCA)</a>
            <ol class="dropdown-menu">
              <li><a href="#">Foodbar</a></li>
              <li class="dropdown-submenu">
                <a href="/categories/1">Anticircumvention (DMCA)</a>
                <ol class="dropdown-menu">
                  <li><a href="#">Foodbar</a></li>
                  <li><a href="#">Foodbar</a></li>
                </ol>
              </li>
            </ol>
          </li>
          <li>
            <a href="/categories/2">Bookmarks</a>
          </li>
          <li>
            <a href="/categories/3">Chilling Effects</a>
          </li>
          <%# <% available_categories.each do |category| %> %>
            <%# <%= link_to(category.name, category_path(category)) %> %>
          <%# <% end %> %>
        </ol>
      </div>
    </li>
    <li class="nav-item about">
      <a href="">About</a>
    </li>
</nav>

