<% cache '_navigation' do %>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand"></div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <%= link_to 'Research and Media Mentions', media_mentions_search_index_path, class: 'navbar-item' %>

        <% header_links.each do |link| %>
          <div class="nav-item">
            <%= link_to cms_fragment_content('page_title', link), link.full_path %>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
<% end %>
