<nav class="main-nav">
  <ol>
    <li class="search">
      <%= link_to("Search", root_path) %>
    </li>
    <li class="new-notice">
      <%= link_to("Report C&D Notice", new_submission_path) %>
    </li>
    <li class="blog">
      <a href="">Weather Reports</a>
    </li>
    <li class="categories">
      <a href="">Categories</a>
    </li>
    <li class="about">
      <a href="">About</a>
    </li>
</nav>

