<%= form_tag(notices_search_index_path, method: :get) do %>
  <div class="input">
    <%= text_field_tag :term, params[:term], id: "search", type: 'search', placeholder: "Search C&D notices…" %>
  </div>
  <div class="submit">
    <button id="submit" class="" type="submit" title="search"></button>
  </div>

  <!--
     - <div class="advanced-search">
     -   <div class="dropdown">
     -     <a class="dropdown-toggle fielded-search" data-toggle="dropdown" href="#">All</a>
     -     <ol class="dropdown-menu" role="menu">
     -       <li class="field" name="sender_name">
     -         <a href="">Joe Lawyer</a>
     -       </li>
     -       <li class="field" name="receiver_name">
     -         <a href="">Bill Doctor</a>
     -       </li>
     -     </ol>
     -   </div>
     -   <input type="text">
     - </div>
   -->
   <div class="advanced-search">
     <h5><span>Advanced Search</span> &ndash; Add additional search queries</h5>
     <div class="field-group">
       <div class="input select">
         <select class="field">
           <option>All</option>
           <option>Title</option>
           <option>Infringing URL</option>
         </select>
       </div>
       <input type="text">
     </div>
     <a href="#" class="add-group">Add query +</a>
     <div class="resubmit">
       <button class="button">Advanced Search</button>
     </div>
   </div>
<% end %>
