<%= form_tag(notices_search_index_path, method: :get) do %>
  <div class="input">
    <%= text_field_tag :term, params[:term], id: "search", type: 'search', placeholder: "Search C&D notices…" %>
  </div>
  <div class="submit">
    <button id="submit" class="reset" type="submit" title="search"></button>
  </div>
<% end %>
