<div class="search-wrapper">
  <%= form_tag(notices_search_index_path, method: :get) do %>
    <div class="input">
      <%= text_field_tag :term, params[:term], id: "search", type: 'search', placeholder: "Search all notices…" %>
    </div>
    <div class="submit">
      <button id="submit" class="" type="submit" title="search">Go</button>
      <div class="search-dropdown dropdown">
        <a id="toggle-advanced-search" href="" class="dropdown-toggle" data-toggle="dropdown">Open</a>
      </div>
    </div>
  <% end %>
</div>
