<div class="search-wrapper">
  <div class="input">
    <%= text_field_tag :term, params[:term], id: "search", type: 'search', placeholder: "Search C&D notices…" %>
  </div>
  <div class="submit">
    <button id="submit" class="" type="submit" title="search"></button>
    <div class="search-dropdown dropdown">
      <a id="toggle-advanced-search" href="" class="dropdown-toggle" data-toggle="dropdown">Open</a>
    </div>
  </div>
</div>
