<section class="home-search-form is-flex is-flex-direction-column is-flex-grow-1 is-flex-shrink-0 is-align-items-center">
  <h1 class="mb-4"><%= image_tag("logo_2x.png", :size=> "340x82") %></h1>

  <%= render 'shared/search' %>

  <p class="home-about has-text-centered mt-6">The Lumen database collects and analyzes legal complaints and requests for removal of online materials, helping Internet users to know their rights and understand the law. These data enable us to study the prevalence of legal threats and let Internet users see the source of content removals.</p>
</section>
