<section class="home-search-form">
  <h1><%= image_tag("logo.svg") %></h1>
  <%= render 'shared/search' %>
</section>

<div class="site-news">
  <section class="news-snippets wip">
    <h2>Weather Reports</h2>
  </section >
  <section class="recent-notices">
    <h2>Recent Cease & Desists</h2>

    <div id="recent-notices">
      <%= render @notices %>
    </div>
  </section>
</div>
