<section class="home-search-form">
  <h1><%= image_tag("logo_2x.png", :size=> "340x52") %></h1>
  <%= render 'shared/search' %>
  <div class="more-info">
    <p class="about">Chilling Effects is an online database and educational resource that collects legal complaints about online activity and requests for the removal of online content. Chilling Effects helps Internet users know their rights and understand the law.</p>
  </div>
</section>

<div class="site-news">
  <section class="recent-notices">
    <h2>Recent Takedown Notices</h2>
    <ol id="recent-notices">
      <%= render @notices %>
    </ol>
  </section>
  <section class="news-snippets">
    <h2>From the Blog</h2>
    <ol id="recent-blog-entries">
      <%= render partial: 'blog_entry', collection: @blog_entries %>
    </ol>
  </section >
</div>
