<% title 'Report a Demand', @notice.type %>

<section class="notice-new">
  <%= render form_partial_for(@notice), notice: @notice %>
</section>

<%= javascript_include_tag('iframe-resizer-server.min') %>
<%= javascript_include_tag('pace.min') %>
<%= stylesheet_link_tag('pace', :media => 'all') %>

<script>
  document.querySelector('form').addEventListener('submit', function(e){
    parentIFrame.scrollToOffset(0, -20);
  });
</script>
