<% title 'About' %>

<header>
  <h1>About Us</h1>
</header>

<hr>

<div id="berkman" align="center">
  <%= image_tag('berkman-klein-logo.png') %>
  <p>Lumen is a project of the Berkman Klein Center for Internet &amp; Society at Harvard University.</p>
</div>
<hr>

<section class="info">
<p>Lumen is an independent research project studying cease and desist letters concerning online content. We collect and analyze requests to remove material from the web. Our goals are to educate the public, to facilitate research about the different kinds of complaints and requests for removal--both legitimate and questionable--that are being sent to Internet publishers and service providers, and to provide as much transparency as possible about the “ecology” of such notices, in terms of who is sending them and why, and to what effect.</p>

<p>Our database contains millions of notices, some of them with valid legal basis, some of them without, and some on the murky border. The fact that Lumen has a notice in its database does not mean that Lumen is authenticating the provenance of that notice or making any judgment on the validity of the claims it raises.</p>

<p>
  Conceived, developed, and founded in 2002 by then-Berkman Klein Center Fellow Wendy Seltzer, the project, then called "Chilling Effects", was initially focused on requests submitted under the United States' Digital Millennium Copyright Act. As the Internet and its usage has evolved, so has Lumen,
  and the database now includes complaints of all varieties, including trademark, defamation, and privacy, domestic and international, and court orders. The Lumen database grows by more than 40,000 notices per week, with voluntary submissions provided by companies such as Google, Twitter, YouTube, Wikipedia, Counterfeit Technology, Medium, Stack Exchange, Vimeo, DuckDuckGo, aspects of the University of California system, and Wordpress. As of the summer of 2019, the project hosts approximately twelve million notices, referencing close to four billion URLs. In 2018, the project website was visited over ten million times by users from virtually every country in the world.
</p>

<p>Lumen is supported by a grant from Arcadia, a charitable fund of Lisbet Rausing and Peter Baldwin.</p>

<hr>

</section>

<ul class="collaborations">
  <li id="partner">
    <h2>Founder</h2>
    <ul>
      <li>Wendy Seltzer</li>
    </ul>
  </li>
  <li id="partner">
    <h2>Past Partners</h2>
    <ul>
      <li>Colorado Samuelson-Glushko Technology Law &amp; Policy Clinic (TLPC)</li>
      <li>DePaul University College of Law</li>
      <li>George Washington University Law School</li>
      <li>Santa Clara University School of Law High Tech Law Institute</li>
      <li>Stanford Center for Internet &amp; Society</li>
      <li>University of Maine School of Law</li>
      <li>Electronic Frontier Foundation. The EFF's work on Lumen is supported by the San Francisco Foundation.</li>
      <li>USF Law School - IIP Justice Project</li>
      <li>UC Berkeley - Samuelson Law, Technology, &amp; Public Policy Clinic</li>
    </ul>
  </li>
</ul>

<section class="contact">

  <h2>Contact Us:</h2>

  <p>Other questions and concerns should be referred to <a href="mailto:team@lumendatabase.org">team@lumendatabase.org</a></p>

  <p>Press Inquiries: Adam Holland</p>

  You may also send notices by mail:
    <ul class="details">
      <li>
        <div class="mail">
          <p class="label">Postal Address</p>
        <div class="address">
          <p>Lumen</p>
          <p>The Berkman Klein Center for Internet &amp; Society</p>
          <p>23 Everett Street</p>
          <p>Cambridge, MA 02138</p>
        </div>
    	</li>
    </ul>
</section>
<hr>
  <p>Lumen original materials are licensed under a <a href="https://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a></p>
