<% title 'About' %>

<header>
  <h1>About Us</h1>
</header>

<hr>

<div id="berkman" align="center">
  <%= image_tag('berkman-klein-logo.png') %>
  <p>Lumen is a project of the Berkman Klein Center for Internet &amp; Society at Harvard University.</p>
</div>
<hr>

<section class="info">
<p>Lumen is an independent 3rd party research project studying cease and desist letters concerning online content. We collect and analyze requests to remove material from the web. Our goals are to educate the public, to facilitate research about the different kinds of complaints and requests for removal--both legitimate and questionable--that are being sent to Internet publishers and service providers, and to provide as much transparency as possible about the “ecology” of such notices, in terms of who is sending them and why, and to what effect.</p>

<p>Our database contains millions of notices, some of them with valid legal basis, some of them without, and some on the murky border. Our posting of a notice does not indicate a judgment among these possibilities, nor are we authenticating the provenance of notices or making any judgment on the validity of the claims they raise.</p>

  <p>Lumen is a unique collaboration among law school clinics and the Electronic Frontier Foundation. Conceived and developed at the Berkman Center for Internet &amp; Society (now the Berkman Klein Center) by then-Berkman Fellow Wendy Seltzer, Lumen was nurtured with help from law clinics at Harvard, Berkeley, Stanford, University of San Francisco, University of Maine, George Washington School of Law, and Santa Clara University School of Law.</p>
<p>The project receives continued support from various organizations and clinical programs. Lumen has had the privilege of working with the following partners, both past and present:</p>

</section>

<hr>

<ul class="collaborations">
  <li class="collaboration" id="partner">
    <h2>Present Partners</h2>
    <h3>Electronic Frontier Foundation</h3>
    The EFF's work on Lumen is supported by the San Francisco Foundation.
    <h3>USF Law School - IIP Justice Project</h3>
    <h3>UC Berkeley - Samuelson Law, Technology, &amp; Public Policy Clinic</h3>
  </li>
  <li class="collaboration" id="partner">
    <h2>Past Partners</h2>
    <h3>Colorado Samuelson-Glushko Technology Law &amp; Policy Clinic (TLPC)</h3>
    <h3>DePaul University College of Law</h3>
    <h3>George Washington University Law School</h3>
    <h3>Santa Clara University School of Law High Tech Law Institute</h3>
    <h3>Stanford Center for Internet &amp; Society</h3>
    <h3>University of Maine School of Law</h3>
  </li>
</ul>
<ul class="collaborations">
  <li class="collaboration" id="researcher">
    <h2>Researchers</h2>
    <h3>The Takedown Project</h3>
    <a href="http://takedownproject.org/">The Takedown Project</a> is a collaborative effort housed at UC-Berkeley School of Law and the American Assembly to study notice and takedown procedures.
    <h3>Current Research Key Holders</h3>
    <a href="/pages/research_key_holders">List of current research key holders</a>
  </li>
  <!--<li class="collaboration" id="researcher">
    <h2>Past Researchers</h2>
  </li> !-->
</ul>

<section class="contact">

  <h2>Contact Us:</h2>

  <p>Other questions and concerns should be referred to <a href="mailto:team@lumendatabase.org">team@lumendatabase.org</a></p>

  <p>Press Inquiries: Wendy Seltzer and Adam Holland</p>
  
  Have you received a notice and want to report it? <a href="/notices/new">Report C&amp;D Notice</a>
    You may also send notices by fax or mail:
      <ul class="details">
        <li><p class="label">Fax:</p><p class="number">+1 617 495 7641</p></li>
        <li>
          <div class="mail">
            <p class="label">Postal Address</p>
          <div class="address">
            <p>Lumen</p>
            <p>The Berkman Klein Center for Internet &amp; Society</p>
            <p>23 Everett Street</p>
            <p>Cambridge, MA 02138</p>
          </div>
	  </div>
	</li>
      </ul>
</section>
<hr>
  <p>Lumen original materials are licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a></p>

