<% title 'About' %>

<header>
  <h1>About Us</h1>
</header>

<hr>

<div id="berkman" align="center">
  <img src="/assets/berkman-logo.png">
  <p>Chilling Effects is a project of the Berkman Center for Internet &amp; Society.</p>
</div>
<hr>

<section class="info">
<p>Chilling Effects is an independent 3rd party research project studying cease and desist letters concerning online content. We collect and analyze complaints about online activity, especially requests to remove content from online. Our goals are to educate the public, to facilitate research about the different kinds of complaints and requests for removal--both legitimate and questionable--that are being sent to Internet publishers and service providers, and to provide as much transparency as possible about the “ecology” of such notices, in terms of who is sending them and why, and to what effect.</p>

<p>Our database contains millions of notices, some of them with valid legal basis, some of them without, and some on the murky border. Our posting of a notice does not indicate a judgment among these possibilities, nor are we authenticating the provenance of notices or making any judgment on the validity of the claims they raise.</p>

  <p>The Chilling Effects Clearinghouse is a unique collaboration among law school clinics and the Electronic Frontier Foundation. Conceived and developed at the Berkman Center for Internet &amp; Society by Berkman Fellow Wendy Seltzer, Chilling Effects was nurtured with help from law clinics at Harvard, Berkeley, Stanford, University of San Francisco, University of Maine, George Washington School of Law, and Santa Clara University School of Law.</p>
<p>The project receives continued support from various organizations and clinical programs. Chilling Effects has had the privilege of working with the following partners, both past and present:</p>

</section>

<hr>

<ul class="collaborations">
  <li class="collaboration" id="partner">
    <h2>Present Partners</h2>
    <h3>Electronic Frontier Foundation</h3>
    The EFF's work on the Chilling Effect's Project is supported by the San Francisco Foundation.
    <h3>USF Law School - IIP Justice Project</h3>
    Robert Talbot: <a href="mailto:talbotr@usfca.edu">talbotr@usfca.edu</a>.
    <h3>UC Berkeley - Samuelson Law, Technology, &amp; Public Policy Clinic</h3>
    <p>Developed 512 content and FAQs.</p>
    <p>Jennifer Urban: <a href="mailto:jurban@law.berkeley.edu">jurban@law.berkeley.edu</a>.</p>
    <h3>Colorado Samuelson-Glushko Technology Law &amp; Policy Clinic (TLPC)</h3>
    Blake Reid: <a href="mailto:blake.reid@Colorado.edu">blake.reid@Colorado.edu</a>.
  </li>
  <li class="collaboration" id="partner">
    <h2>Past Partners</h2>
    <h3>DePaul University College of Law</h3>
    <h3>George Washington University Law School</h3>
    <h3>Santa Clara University School of Law High Tech Law Institute</h3>
    <h3>Stanford Center for Internet & Society</h3>
    <h3>University of Maine School of Law</h3>
  </li>
  <li "dirty hack to handle nth child constraints in css."></li>
  <li class="collaboration" id="partner">
    <h2>Researchers</h2>
    <h3>The Takedown Project</h3>
    <a href="http://takedownproject.org/">The Takedown Project</a> is a collaborative effort housed at UC-Berkeley School of Law and the American Assembly to study notice and takedown procedures.
  </li>
  <!--<li class="collaboration" id="researcher">
    <h2>Past Researchers</h2>
  </li> !-->
</ul>

<section class="contact">

  <h2>Contact Us:</h2>

  <p>Other questions and concerns should be referred to <a href="mailto:team@chillingeffects.org">team@chillingeffects.org</a></p>

  <p>Press Inquiries: Wendy Seltzer and Adam Holland <a href="team@chillingeffects.org"></a></p>
  
  Have you received a notice and want to report it? <a href="/notices/new">Report C&amp;D Notice</a>
    You may also send notices by fax or mail:
      <ul class="details">
        <li><p class="label">Fax:</p><p class="number">+1 415 436 9993</p></li>
        <li><p class="label">eFax:</p><p class="number">+1 413 702 3884</p></li>
        <li>
          <div class="mail">
            <p class="label">Postal Address</p>
          <div class="address">
            <p>Chilling Effects</p>
            <p>Electronic Frontier Foundation</p>
            <p>454 Shotwell Street</p>
            <p>San Francisco CA 94110-1914</p>
          </div>
	  </div>
	</li>
      </ul>
</section>
<hr>
  <p>Chilling Effects Clearinghouse original materials are licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a></p>

