<% title 'About' %>

<header>
  <h1>About Us</h1>
</header>

<hr>

<div id="berkman" align="center">
  <img src="/assets/berkman-logo.png">
  <p>Chilling Effects is a project of the Berkman Center for Internet &amp; Society.</p>
</div>
<hr>

<section class="info">
  <p>The Chilling Effects Clearinghouse collects and analyzes legal complaints about online activity, helping Internet users to know their rights and understand the law. Chilling Effects welcomes submission of letters from individuals and from Internet service providers and hosts. These submissions enable us to study the prevalence of legal threats and allow Internet users to see the source of content removals.</p>
  <p>Chilling Effects aims to support lawful online activity against the chill of unwarranted legal threats. We are excited about the new opportunities the Internet offers individuals to express their views, parody politicians, celebrate favorite stars, or criticize businesses, but concerned that not everyone feels the same way. Study to date suggests that cease and desist letters often silence Internet users, whether or not their claims have legal merit. The Chilling Effects project seeks to document that "chill" and inform C&amp;D recipients of their legal rights in response.</p>
  <p>The Chilling Effects Clearinghouse is a unique collaboration among law school clinics and the Electronic Frontier Foundation. Conceived and developed at the Berkman Center for Internet &amp; Society by Berkman Fellow Wendy Seltzer, Chilling Effects was nurtured with help from law clinics at Harvard, Berkeley, Stanford, University of San Francisco, University of Maine, George Washington School of Law, and Santa Clara University School of Law.</p>
<p>The project receives continued support from various organizations and clinical programs. Chilling Effects has had the privilege of working with the following partners both past and present:</p>

</section>

<hr>

<ul class="clinics">
  <li class="clinic">
    <h2>Present Partners</h2>
    <h3>Electronic Frontier Foundation</h3>
    The EFF's work on the Chilling Effect's Project is supported by the San Francisco Foundation.
    <h3>USF Law School - IIP Justice Project</h3>
    Robert Talbot.
    <h3>UC Berkeley - Samuelson Law, Technology, &amp; Public Policy Clinic</h3>
    Jennifer Urban developed 512 content and FAQs.
    <h3>Colorado Samuelson-Glushko Technology Law &amp; Policy Clinic (TLPC)</h3>
    Blake Reid.
  </li>
  <li class="clinic">
    <h2>Past Partners</h2>
    <h3>DePaul University College of Law</h3>
    <h3>George Washington University Law School</h3>
    <h3>Santa Clara University School of Law High Tech Law Institute</h3>
    <h3>Stanford Center for Internet & Society</h3>
    <h3>University of Maine School of Law</h3>
  </li>

</ul>
<!--
    <ul class="topics">
      <li>Foobar</li>
      <li>Foobaz</li>
    </ul>

<ul class="clinics">
  <li class="clinic">
    <h2>Berkman Center for Internet &amp; Society</h2>
    <a href="http://cyber.law.harvard.edu/"></a>
    <h3>Topic Areas</h3>
    <ul class="topics">
      <li><a href="http://www.chillingeffects.org/acpa/">ACPA</a></li>
      <li><a href="http://www.chillingeffects.org/domain/">Domain Names and Trademarks</a></li>
      <li><a href="http://www.chillingeffects.org/">Right of Publicity</a></li>
      <li><a href="http://www.chillingeffects.org/trademark/">Trademark</a></li>
      <li><a href="http://www.chillingeffects.org/udrp/">UDRP<a></li>
    </ul>
    <h3>Contacts</h3>
    <ul class="people">
      <li>Wendy Seltzer, Chilling Effects Project Leader</li>
      <li>David Abrams</li>
      <li>Diane Cabell, Berkman Fellow</li>
      <li>Dan Collis-Puro</li>
      <li>Adam Holland</li>
      <li>Rebecca Schoff</li>
    </ul>
      <a class="participants" href="http://www.chillingeffects.org/org.cgi?OrgID=2">See full list of participants</a>
  </li>
  <li class="clinic">
    <h2>DePaul University College of Law</h2>
    <a href="http://www.law.depaul.edu/institutes_centers/ciplit/"></a>
    <h3>Contacts</h3>
    <ul class="people">
      <li>Barbara Bressler</li>
      <a class="participants" href="http://www.chillingeffects.org/org.cgi?OrgID=10">See list of participants</a>
    </ul>
  </li>
  <li class="clinic">
    <h2>Electric Frontier Foundation</h2>
    <a href="http://www.eff.org/"></a>
    <h3>Topic Areas:</h3>
    <ul class="topics">
      <li><a href="http://www.chillingeffects.org/linking/">Linking</a></li>
    </ul>
    <h3>Contacts</h3>
    <ul class="people">
      <li>Barak</li>
      <li>Cindy Cohn</li>
      <li>Allison Navone</li>
    </ul>
      <a class="participants" href="http://www.chillingeffects.org/org.cgi?OrgID=5">See full list of participants</a>
      <p class="note">EFF's work on the Chilling Effects Project is supported by the <a href="http://www.sff.org/">San Francisco  Foundation</a>.</p>
  </li>
  <li class="clinic">
    <h2>George Washington University Law School</h2>
    <a href="http://www.law.gwu.edu/"></a>
    <h3>Topic Areas:</h3>
    <ul class="topics">
      <li><a href="http://www.chillingeffects.org/fairuse/">Copyright and Fair Use</a></li>
    </ul>
    <h3>Contacts</h3>
    <ul class="people">
      <li>Dawn Nunziato</li>
    </ul>
      <a class="participants" href="http://www.chillingeffects.org/org.cgi?OrgID=8">See list of participants</a>
  </li>
  <li class="clinic">
    <h2>Samuelson Law, Technology and Public Policy Clinic</h2>
    <a href="http://www.samuelsonclinic.org/"></a>
    <h3>Topic Areas:</h3>
    <ul class="topics">
      <li><a href="http://www.chillingeffects.org/anticircumvention/">Anticircumvention (DMCA)</a></li>
      <li><a href="http://www.chillingeffects.org/reverse/">Reverse Engineering</a></li>
    </ul>
    <h3>Contacts</h3>
    <ul class="people">
      <li>Jack Lerner</li>
      <li>Laura Quilter</li>
      <li>Jason Schultz</li>
      <li>Jennifer Urban</li>
    </ul>
      <a class="participants" href="http://www.chillingeffects.org/org.cgi?OrgID=4">See list of participants</a>
  </li>
  <li class="clinic">
    <h2>Stanford Center for Internet &amp; Society</h2>
    <a href="http://cyberlaw.stanford.edu/"></a>
    <h3>Topic Areas:</h3>
    <ul class="topics">
      <li><a href="http://www.chillingeffects.org/derivative/">Derivative Works</a></li>
      <li><a href="http://www.chillingeffects.org/fanfic/">Fan Fiction</a></li>
      <li><a href="http://www.chillingeffects.org/johndoe/">John Doe Anonymity</a></li>
      <li><a href="http://www.chillingeffects.org/piracy/">Piracy or Copyright Infringement</a></li>
    </ul>
    <h3>Contacts</h3>
    <ul class="people">
      <li>Jennifer Granick</li>
    </ul>
      <a class="participants" href="http://www.chillingeffects.org/org.cgi?OrgID=3">See list of participants</a>
  </li>
  <li class="clinic">
    <h2>University of Maine School of Law</h2>
    <a href="http://www.lawandinnovation.org/"></a>
    <h3>Topic Areas:</h3>
    <ul class="topics">
      <li><a href="http://www.chillingeffects.org/ecom/">E-Commerce Patents</a></li>
      <li><a href="http://www.chillingeffects.org/patent/">Patent</a></li>
    </ul>
    <h3>Contacts</h3>
    <ul class="people">
      <li>Rita Heimes</li>
    </ul>
      <a class="participants" href="http://www.chillingeffects.org/org.cgi?OrgID=7">See list of participants</a>
  </li>
  <li class="clinic">
    <h2>USF Law School - IIP Justice Project</h2>
    <a href="http://www.internetjustice.org/"></a>
    <h3>Topic Areas:</h3>
    <ul class="topics">
      <li><a href="http://www.chillingeffects.org/copyright/">Copyright</a></li>
      <li><a href="http://www.chillingeffects.org/defamation/">Defamation</a></li>
      <li><a href="http://www.chillingeffects.org/documenting/">Documenting Your Domain Defense</a></li>
      <li><a href="http://www.chillingeffects.org/protest/">Protest, Parody and Criticism Sites</a></li>
    </ul>
    <h3>Contacts</h3>
    <ul class="people">
      <li>Jennifer Dupre</li>
      <li>Jonathan Kerry-Tyerman</li>
      <li>Dave Owens</li>
      <li>Robert Talbot</li>
    </ul>
      <a class="participants" href="http://www.chillingeffects.org/org.cgi?OrgID=6">See list of participants</a>
  </li>
</ul>

<section class="contact">
  <h2>Contact Us:</h2>
  <ul>
    <li>Have you recieved a notice and want to report it? <a href="/notices/new">Report C&amp;D Notice</a></li>
    <li>Would you like to edit a C&amp;D Notice that you've submitted? Email <a href="">notices@chillingeffects.org</a> <p class="footnote">(please reference the NoticeID in the subject line)<p/></li>
    <li>You may also send notices by fax or mail:
      <ul class="details">
        <li><p class="label">Fax:</p><p class="number">+1 415 436 9993</p></li>
        <li><p class="label">eFax:</p><p class="number">+1 413 702 3884</p></li>
        <li>
          <div class="mail">
            <p class="label">Postal Address</p>
          <div class="address">
            <p>Chilling Effects</p>
            <p>Electronic Frontier Foundation</p>
            <p>454 Shotwell Street</p>
            <p>San Francisco CA 94110-1914</p>
          </div>
        </li>
      </ul>
    </li>
    <li>Send us a news update: <a href="news@chillingeffects.org"></a></li>
    <li>Report a technical problem with the website: <a href="webmaster@chillingeffects.org"></a></li>
    <li>Correct personally identifying information: <a href="privacy@chillingeffects.org"></a></li>
    <li>Other Questions: <a href="questions@chillingeffects.org"><a></li>
    <li>Press Inquiries: Wendy Seltzer and Adam Holland <a href="team@chillingeffects.org"></a></li>
    <li>Clinics at other law schools are invited to join the project. Please contact Wendy Seltzer, <a href="wendy@seltzer.com"></a> for more information about getting involved.</li>
  </ul>
  <p>Chilling Effects Clearinghouse original materials are licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a></p>
</section>
!-->
