<% title 'API Terms of Use' %>

<header>
  <h1>API Terms of Use</h1>
</header>

<h2>About the API</h2>

<p>Lumen provides an application programmer interface (API) as a tool for researchers and scholars to efficiently collect and analyze information regarding legal complaints and requests for removal of online materials.</p>

<p>Access to the API is provided at no cost to you.  However, use of the API is contingent on agreeing to the API terms of use.</p>

<h2>For Research Purposes Only</h2>

<p>Whether you use the API with an Authentication Token or without, you agree that you are a Researcher (as defined below) and that you will limit your use to Research Purposes only.  Permissible Research Purposes include, but are not limited to, using data from the API: to compare trends involving removal requests; to understand what types of content are subject to removal requests; to determine how parties make or respond to such requests; and for other purposes reasonably aimed at gaining knowledge about legal complaints and requests for removal of online materials. A Researcher is someone who uses the API for a Research Purpose.  A Researcher may be affiliated with a research institution, or may be conducting research independently or on an amateur basis.</p>

<p>By its nature, the API may return links or lists of links that link to content governed by local, national, and/or international laws and regulations.   By using the API, you agree to abide by all applicable laws and regulations.  In particular, you certify that should you follow any link returned by the API, your use of the resulting content will be limited to non-infringing and/or fair use under copyright law.</p>

<h2>Applying for an API Authentication Token</h2>

<p>By applying for an Authentication Token, you warrant that you are a Researcher intending to use the API for Research Purposes only. </p>

<h2>Access to API</h2>

<p>Lumen reserves the right to eliminate access to the API to anyone for any reason, including but not limited to violations of the API Terms of Use.</p>

<h2>You Shall</h2>
<ol type="a">
<li>Comply with the Lumen Terms of Use.</li>
<li>Comply with any and all legal requirements and restrictions pertaining to the usage of content available through Lumen.</li>
<li>Place the following notice on your application: “This product uses the Lumen API but is not endorsed or certified by Lumen.”</li>
</ol>

<h2>You Shall Not</h2>

<ol type="a">
<li>Misrepresent or conceal your identity or your application’s identity when using or requesting authorization to use the Lumen API.</li>
<li>Use the Lumen API for any illegal purpose, including, but not limited to, piracy and other violations of intellectual property rights.</li>
<li>Use an unreasonable amount of bandwidth.</li>
<li>Use the Lumen API in a manner that adversely impacts the stability of Lumen servers or other applications using the Lumen API. </li>
<li>Use the Lumen API is connection with spyware, malware, or other malicious programs or code.</li>
<li>Use the Lumen API to replicate or attempt to replace the essential user experience of Lumen.</li>
<li>Display the Lumen or Chilling Effects logo more prominently on your application than the logo that primarily represents your application.</li>
<li>Sell, lease or sublicense the Lumen API, the Lumen API key or access thereto.</li>
</ol>

<h2>Compliance with Laws</h2>
<p>You are responsible for complying with all applicable laws, rules, regulations and third-party rights in conjunction with your use of the Lumen API.</p>

<h2>Commercial Use</h2>
<p>Lumen is committed to free and open access to our API for both commercial and non-commercial research purposes. However, given the cost of providing the API to you, Lumen reserves the right to make evaluations regarding commercial uses at any time and to begin charging fees for certain types of commercial uses of the API.</p>

<h2>Disclaimer of Any Warranty</h2>
<p>By using the API, you agree that the API is provided “as is” and your use of the API is solely at your own discretion and risk.  You agree that you will be solely responsible for any damage that results from your use of the API.</p>
<p>Lumen may discontinue the availability of some or all of the API, its features, or its services at any time for any reason.</p>
<p>Some of the Lumen API may be experimental and not tested in any manner. Lumen makes no representations or warranties, express or implied, regarding the operation of the Lumen API or the content available through the Lumen API. To the extent permitted by law, Lumen disclaims any and all warranties, including but not limited to the warranties of merchantability, fitness for a particular purpose, warranties regarding security, accuracy, timeliness, and performance of the API and the content accessed through the Lumen website.</p>

<h2>Release, Waiver, and Limitation of Liability</h2>

<p>To the maximum extent permitted by applicable law, you release and waive all claims against Lumen, its subsidiaries, affiliates and agents from any and all liability for claims, damages, costs and expenses arising from or related to your use of the Lumen API.</p>
<p>Lumen shall not, under any circumstances, be liable to you for any indirect, incidental, consequential, special, or exemplary damages arising out of or in connection with the use of the API, whether based on breach of contract, breach of warranty, tort, or any other pecuniary loss, whether or not Lumen has been advised of the possibility of such damages.</p>
<p>Under no circumstances shall Lumen be liable to you for any amount.</p>

<h2>Hold Harmless and Indemnity</h2>
<p>You agree that Lumen will have no liability whatsoever with regard to any third-party claims related to your use of the Lumen API. 
To the maximum extent permitted by applicable law, you agree to hold harmless and indemnify Lumen, its subsidiaries, affiliates and agents from any third-party claims, damages, liabilities, costs and fees (including attorney fees) arising from or related to your use of the Lumen API.</p>

<h2>Severability and Integration</h2>

<p>If any part of the API Terms of Use is found unenforceable, the rest of the API Terms of Use shall remain enforceable to the maximum extend of the law.</p>

<p>The API Terms of Use constitute the entire agreement between Lumen and you with respect to the use of the API.  The section headings and subheadings contained in the API Terms of Use are included for convenience only, and shall not limit or otherwise affect the API Terms of Use.</p>

<h2>Modifications</h2>
<p>Lumen reserves the right to change these API Terms of Use at any time, at its sole discretion. You are responsible for regularly reviewing these terms.</p>