<section class="posts">
  <% 6.times do %>
    <article class="post-item">
      <h3 class="title"><a href="#">Is The DMCA Broken?</a></h3>
      <div class="metadata"><span class="author">Adam Holland</span> on <time datetime="April 15, 2013">April 15, 2013</time></div>
      <a class="snippet" href="#">
        <p>A Canadian reporter posted an unflattering audio clip of a big company's conference call onto a US website. The company filed a DMCA notice with the host to get it removed, asserting copyright in the recording. So far, the host, Chirbit has left the clip up, asserting that it is a fair use&hellip;</p>
      </a>
    </article>
  <% end %>
</section>

<aside class="sidebar">
  <h4>What we're reading</h4>
  <ol>
    <% 2.times do %>
      <li>
        <a href="#">Obsessed With Google, Copyright Holders Ignore The Actual Pirated Content</a>
      </li>
      <li>
        <a href="#">How to Fight Revenge Porn</a>
      </li>
      <li>
        <a href="#">One Of These Things Is not Like The Other...</a>
      </li>
      <li>
        <a href="#">It's DMCA Notices All The Way Down</a>
      </li>
    <% end %>
  </ol>
</aside>
