<article class="post">
    <h3 class="title">Is The DMCA Broken?</h3>
    <div class="metadata"><span class="author">Adam Holland</span> on <time datetime="April 15, 2013">April 15, 2013</time></div>

<p>Some recent developments have us here at Chilling Effects, and in other places as well, wondering if the DMCA, which is shockingly celebrating its <a href="http://benton.org/node/129111"><b>16th </b>anniversary</a> this year.Given the rate at which technology changes, it’s probably not surprising that the law might be having trouble keeping pace.  “Slowly but exceedingly fine” and all that.  However, some recent cases moving through the courts, as well as some other developments on both the technology and general business practice fronts are really bringing the inadequacies of the DMCA into sharp relief.</p>

<p>First off is this week's  <a href="https://s3.amazonaws.com/s3.documentcloud.org/documents/691437/umg-recordings-inc-v-escape-media-group-inc.pdf">stunning ruling</a> from a New York state court re: UMG Recordings lawsuit against Grooveshark.  Grooveshark’s parent company is Escape Media. [ Disclosure: I love Grooveshark and have an account]</p>

<p>The gist of the suit was / is that Grooveshark, despite its licenses, was violating UMG’s copyrights in various sound recordings.  Critically, these were recordings made, or “fixed”, pre-1972.</p>

<p>Grooveshark relied on its DMCA-granted immunity from Section 512.  UMG said that didn’t help, because Section 301 of the DMCA explicitly stated that it did not apply to any sound recording fixed prior to 1972.<br>Sure enough, that appears to be exactly <a href="http://www.copyright.gov/title17/92chap3.html&quot;">what 301 says.</a> To wit:</p>

<blockquote>With respect to sound recordings fixed before February 15, 1972, any rights or remedies under the common law or statutes of any State shall not be annulled or limited by this title until February 15, 2067. The preemptive provisions of subsection (a) shall apply to any such rights and remedies pertaining to any cause of action arising from undertakings commenced on and after February 15, 2067.<br>
 [NB  the original version of this section had 2047 as the date, but the 1998 DMCA revisions changed it to 2067]</blockquote>

<p>That the DMCA nevertheless should apply is a difficult textual argument to make, which may be why the NY court made the ruling that it did.<br> “Initially, it is clear to us that the DMCA, if interpreted in the manner favored by defendant, would directly violate section 301(c) of the Copyright Act.”</p>
</article>
