<section class="category-description>">
  <h1>DMCA Safe Harbor</h1>
  <article>
    <p>In the online world, the potentially infringing activities of individuals are stored and transmitted through the networks of third parties. Web site hosting services, Internet service providers, and search engines that link to materials on the Web are just some of the service providers that transmit materials created by others. Section 512 of the Digital Millennium Copyright Act (DMCA) protects online service providers (OSPs) from liability for information posted or transmitted by subscribers if they quickly remove or disable access to material identified in a copyright holder's complaint.</p>
    <p>While the safe harbor provisions provide a way for individuals to object to the removal of their materials once taken down, they do not require service providers to notify those individuals before their allegedly infringing materials are removed. If the material on your site does not infringe the intellectual property rights of a copyright owner and it has been improperly removed from the Web, you can file a counter-notice with the service provider, who must transmit it to the person who made the complaint. If the copyright owner does not notify the service provider within 14 business days that it has filed a claim against you in court, your materials can be restored to the Internet.</p>
  </article>
</section>

<section class="category-faqs" id="category-faqs">
  <h2>Frequently Asked Questions</h2>
  <% 3.times do %>
  <article>
    <div class="question">What is the Digital Millennium Copyright Act?</div>
    <div class="answer">The DMCA, as it is known, has a number of different parts. One part is the anticircumvention provisions, which make it illegal to "circumvent" a technological measure protecting access to or copying of a copyrighted work (see Anticircumvention (DMCA)). Another part gives web hosts and Internet service providers a "safe harbor" from copyright infringement claims if they implement certain notice and takedown procedures (see DMCA Safe Harbor).</div>
  </article>
  <% end %>

</section>
