<% title 'Legal' %>

<header>
  <h1>Legal Notices</h1>
</header>

<section class="info">
  <p>This website cannot provide individual legal advice -- we cannot analyze your particular website or activity to assure you it is legal. (This is for your protection and ours -- we do not have the resources to analyze every site individually, and we don't want to give the impression that we have.) What we can do is help present the issues as lawyers think about them and answer general questions: Does the law really say that? What is the scope of copyright, trademark, or defamation law? What defenses exist for a given claim?</p>

  <p>Because the information on Lumen is written for a general audience, without investigation into the facts of each particular case, it is not legal advice, and we form no attorney-client relationship with you.</p>

  <p>Sending email to the Lumen project or entering information in web forms does not create a lawyer-client relationship, with the heightened confidentiality provisions of such a relationship.</p>

  <p>While we endeavor to give timely and accurate responses to the notices we receive, we cannot guarantee response to all submissions. We hope that the database as a whole will be a useful resource.<p>

  <p>By posting cease and desist notices, we are not authenticating them or making any judgment on the validity of the claims they make. If your name or that of your organization appears in our database of notices, and you believe that the notice is fraudulent or its content defamatory, please notify us immediately. We will remove the letter from the public database pending a review, and make a good faith effort to resolve the situation.</p>

  <p><a href="https://www.harvard.edu/reporting-copyright-infringements">Report copyright infringements</a> to Harvard's designated agent under the Digital Millennium Copyright Act.<p>

  <p>See the <a href="https://www.lumendatabase.org/about.cgi">list of current partners</a> for more information on the groups who have a working relationship with the Lumen project</p>

  <p>Lumen original materials are licensed under a <a href="https://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a></p>
</section>
