<% title 'Licenses' %>
<h4>Chilling Effects provides all data, text, and code under the following licenses: </h4>
<br>
<p><b>Text:</b> <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution (CC BY 3.0)</a></p>
<p><b>Data:</b> <a href="http://creativecommons.org/about/cc0">Public Domain (CC0)</a></p>
<p><b>Code:</b> <a href="http://www.gnu.org/licenses/gpl.html">GNU General Public License (GPL)</a></p>
