<% title 'Privacy' %>

<header>
  <h1>Lumen Privacy Policy</h1>
</header>

<section class="info">
  <p>We collect only two kinds of information on the Lumen website: (1) Site and API usage for statistical purposes (traffic analytics), and (2), information you choose to give Lumen by email.</p>


  <ol class="privacy">
    <li>When you browse, read or download information from the Lumen site, only limited, anonymous data is collected:
      <ul class="privacy-info">
        <li>Our server may record the numerical Internet protocol (IP) address of the computer you are using; the browser software you use and your operating system; the date and time you access our site; and the Internet address of the web site from which you linked directly to our site.</li>
        <li>We use this information to measure the number of visitors to different sections of the site, to diagnose and correct system errors, and to improve the site. We do not connect this information to your name or identity.</li>
        <li>If your browser sends referer information to our site, we may use that information to provide you with further viewing options and may aggregate that data for research purposes.</li>
        <li>We use <a href="https://matomo.org">Matomo</a> for our data analytics and store the resulting information on our own servers. We do not share this information with third parties.</li>
      </ul>
    </li>
    <li>The Lumen project also invites users to submit removal requests or takedown notices in which they are the sender or recipient. If you have a removal request or takedown notice you would like to submit to Lumen, please email us at team@lumendatabase.org.</li>
  </ol>
</section>

<section class="info">

  <h2>Law enforcement and other compelled disclosures:</h2>
  <p>In the event that we are required by law (including a court order) to disclose the information you submit, we will provide you with notice (unless we are prohibited) that a request for your information has been made and give you an opportunity to object to the disclosure. We will attempt to provide this notice by email, if you have given us an email address, or by postal mail if you have entered a postal address. We will independently object to over broad requests for access to information about users of our site. But, whether we can offer legal assistance to you in the case of a disclosure demand will depend on the circumstances. If you do not challenge the disclosure request we may be legally required to turn over your information.</p>
</section>
