<header>
  <h1>Chilling Effects Privacy Policy</h1>
</header>
<section class="info">
<p>The organizations behind the Chilling Effects project share a commitment to free speech and privacy.</p>

<p>We collect only two kinds of information on the Chilling Effects website: (1) Anonymous use information for statistical purposes, and (2), information you choose to give us in web forms or by email.</p>

<ol class="privacy">
  <li>When you browse, read or download information such as weather reports, FAQs, or sample cease and desist notices, only limited, anonymous data is collected:
    <ul>
      <li>Our server may record the numerical Internet protocol (IP) address of the computer you are using; the browser software you use and your operating system; the date and time you access our site; and the Internet address of the web site from which you linked directly to our site.</li>
      <li>We use this information to measure the number of visitors to different sections of the site, to diagnose and correct system errors, and to improve the site. We delete this information after one month. We do not connect this information to your name or identity.</li>
      <li>If your browser sends referer information to our site, we may use that information to provide you with further viewing options and may aggregate that anonymous data for research purposes. We will not link referer information to your IP address.</li>
      <li>We do not use "cookies" on this site.</li>
    </ul>
  </li>
  <li>The Chilling Effects project also invites users to submit Cease and Desist notices and to sign up to receive news updates by email. If you use our online forms to submit information (e.g., to report receiving a C&amp;D Notice) you can choose to:
    <ul class="bulleted">
      <li>Do so anonymously</li>
      <li>Include your contact information (name, address, phone number, email) but have it kept confidential by the chilling effects project, or</li>
      <li>Include your contact information in the publicly available database.</li>
    </ul>
    <ul>
      <li>If you do not include a name or address in your submission, we will not have that information.</li>
      <li>If you submit your contact information but ask that it be kept confidential, it will be marked as "private" in the cease and desist letter database. "Private" information will be made available only to the attorneys and students working on the project.</li>
      <li>If you submit your contact information for inclusion in the publicly available cease &amp; desist letter database it will be available to anyone who visits the site.</li>
      <li>We use contact information to compile more accurate statistics on the use of cease and desist notices, and to contact you if we have a question.</li>
      <li>We will not use or disclose your information for any other purpose, unless compelled by law (see below)</li>
      <li>It is up to you to decide what information to provide on these forms.</li>
    </ul>
  </li>
</ol>
<section class="info">
  <h2>News and updates:</h2>
  <p>If you sign up to receive news or updates, then we will request your e-mail address. We will use that address only for the purpose of sending you the requested information. We will not use or disclose it for any other purpose unless compelled by law.</p>
  <h2>If you send us an email asking for further information:</h2>
  <p>If you use the email contact addresses for the clinics that are identified on the web site (as listed on the "about us" page), your email will go directly to an attorney at the clinic. If this email seeks legal advice, we believe that it will be protected by the confidentiality provisions of the attorney-client privilege in the states where the clinics are located. We will not use or disclose this information for any other purpose unless compelled by law. (see below)</p>
  <h2>If you want to get information about you that may be in our records, or if you want us to correct or remove such information:</h2>
  <p>Contact the site's privacy administrator at privacy@chillingeffects.org.</p>
  <h2>Law enforcement and other compelled disclosures:</h2>
  <p>In the event that we are required by law (including a court order) to disclose the information you submit, we will provide you with notice (unless we are prohibited) that a request for your information has been made and give you an opportunity to object to the disclosure. We will attempt to provide this notice by email, if you have given us an email address, or by postal mail if you have entered a postal address. We will independently object to over broad requests for access to information about users of our site. But, whether we can offer legal assistance to you in the case of a disclosure demand will depend on the circumstances. If you do not challenge the disclosure request we may be legally required to turn over your information.</p>
</section>

