<% title 'Privacy' %>

<header>
  <h1>Lumen Privacy Policy</h1>
</header>

<section class="info">
  <p>The Lumen project and its partners share a commitment to free speech and privacy.</p>

  <p>We collect only two kinds of information on the Lumen website: (1) Anonymous use information for statistical purposes (traffic analytics), and (2), information you choose to give us in web forms or by email.</p>

  <ol class="privacy">
    <li>When you browse, read or download information from the Lumen site, only limited, anonymous data is collected:
      <ul class="privacy-info">
        <li>Our server may record the numerical Internet protocol (IP) address of the computer you are using; the browser software you use and your operating system; the date and time you access our site; and the Internet address of the web site from which you linked directly to our site.</li>
        <li>We use this information to measure the number of visitors to different sections of the site, to diagnose and correct system errors, and to improve the site. We do not connect this information to your name or identity.</li>
        <li>If your browser sends referer information to our site, we may use that information to provide you with further viewing options and may aggregate that data for research purposes.</li>
        <li>We use <a href="http://piwik.org">Piwik</a> for our data analytics and store the resulting information on our own servers.</li>
      </ul>
    </li>
    <li>The Lumen project also invites users to submit Cease and Desist notices. If you use our online forms to submit information (e.g., to report receiving a C&amp;D Notice) you can choose to:
      <ul class="bulleted">
        <li>Do so anonymously</li>
        <li>Include your contact information (name, address, phone number, email) but have it kept confidential by Lumen, or</li>
        <li>Include your contact information in the publicly available database.</li>
      </ul>
      <ul class="privacy-info">
        <li>If you do not include a name or address in your submission, we will not have that information.</li>
        <li>If you submit your contact information but ask that it be kept confidential, it will be marked as "private" in the cease and desist letter database. "Private" information will be made available only to the academic researchers, attorneys, and law students working on the project.</li>
        <li>If you submit your contact information for inclusion in the publicly available cease &amp; desist letter database it will be available to anyone who visits the site.</li>
        <li>We use contact information to compile more accurate statistics on the use of cease and desist notices, and to contact you if we have a question.</li>
        <li>We will not use or disclose your information for any other purpose, unless compelled by law (see below)</li>
        <li>If you submit a notice directly to our site, <b>it is up to you to decide what information to provide as part of your submission</b>.</li>
      </ul>
   </li>
  </ol>
</section>

<section class="info">
 
  <h2>Law enforcement and other compelled disclosures:</h2>
  <p>In the event that we are required by law (including a court order) to disclose the information you submit, we will provide you with notice (unless we are prohibited) that a request for your information has been made and give you an opportunity to object to the disclosure. We will attempt to provide this notice by email, if you have given us an email address, or by postal mail if you have entered a postal address. We will independently object to over broad requests for access to information about users of our site. But, whether we can offer legal assistance to you in the case of a disclosure demand will depend on the circumstances. If you do not challenge the disclosure request we may be legally required to turn over your information.</p>
</section>
