<% title 'Research Key Holders' %>

<h1>List of People Who Have Researcher Tokens</h1>

<p><strong>Raphael Leung</strong> [2015-11-03] - Previously an Undergrad Fellow at the Information Society Project., now a MSc candidate at the Oxford Internet Institute, supervised by Viktor Mayer-Schönberger. Using the database to investigate how online content generators react to take-down requests.</p>

<p><strong>Igor Brigadir</strong> [2015-11-03] - PhD student at <a href="https://www.insight-centre.org/">Insight Centre for Data Analytics in University College Dublin</a> “My interests are mainly around information retrieval, event detection & tracking.
My intended use for the lumen API is using Country Withheld Content requests as a feature for event detection / tracking.
The motivation is both to monitor extremist groups on twitter & events associated with them, as well as characterizing government censorship by country. API will be used to gather infringing urls (initially just twitter accounts / tweets withheld in certain countries), urls will be used as search terms, and for keyword extraction - tracking mentions, retweets of withheld content (if still retrievable)”</p>

<p><strong>Kenan Sulayman</strong> [2015-11-03] - “I'm a software engineer and data analyst and I run several big Tor exitnodes. Currently conducting a study on the usage of Tor in copyright violation.”</p>

<p><a href="http://engelliweb.com/">Engelli Web</a>  [2015-11-03] - “We have been monitoring blocked websites in Turkey since 2008.  Currently we are listing more than 81K blocked domain names. In addition to that, we list blocked IP addresses, URLs and YouTube video IDs. Engelli Web is the only source for blocked content in Turkey, and working as a non-profit organization. We are fighting for freedom of speech and against internet censorship.</p>

<p><strong>Lars Schwarz</strong> [2015-11-03] - FontData. I’m a private/ a "closed" (not available publicly) service for type foundries to monitor any license infringements. I'd love to add a feature that integrates some DMCA status/info.</p>

<p><a href="http://www.thomasleeper.com">Thomas Leeper</a> [2015-11-04] - Assistant Professor in Political Behaviour in the Department of Government at the London School of Economics and Political Science. “Along with my primary interests as a public opinion researcher, I am also an open data and open access evangelist and software developer for the R language. I am working on <a href="https://github.com/leeper/lumen">an R client for the Lumen Database</a> in hopes of making it easier for other researchers to analyze copyright threats in the digital age.”</p>


<p><a href="https://developers.google.com/experts/people/umar-hansa">Umar Hansa</a> [2015-12-07] - “A front-end web developer based in London who plans to satisfy his curiosity on the types of online content which ends up blocked. From determining popular keywords, to general sentiment, Umar would like to research and visualise such data so that useful patterns can be identified.” </p>