<% title 'Researchers' %>

<header>
  <h1>FAQ for Researchers</h1>
</header>

<section>
  <h2>What content can I find in the database?</h2>
  <p>With over a million notices, the Chilling Effects database offers a snapshot of online speech issues and legal threats that have come up in cyberspace. The Chilling Effects Clearinghouse collects and analyzes legal complaints about online activity, helping Internet users to know their rights and understand the law. Submissions are indexed by topic and stored in our searchable database. The database of complaints includes DMCA takedown notices and cease-and-desist letters submitted by individuals who have sent or received the letters, as well as internet providers and hosts such as Google and Twitter, both of whom submit notices to the database. These submissions enable us to study the prevalence of legal threats and allow Internet users to see the source of content removals.</p>

  <h2>  Are notices redacted? If so, by whom? What information is redacted?</h2>
  <p>Yes, notices in the database are all reviewed and redacted by Chilling Effects staff. Personal information including, but not limited to, proper names and addresses is redacted in the body of the notice. Additionally, an individual submitting a notice to the database can choose to keep private certain information about the sender or recipient of the notice, including the name of the sender or recipient, attorney and law firm, and the sender or recipient’s address information, with the exception of the country, which is not redacted.</h5></p>

  <h2>Where do the notices come from?</h2>
  <p>The notices come from two types of sources:<br>
    <ul class="bulleted">
      <li>Users can submit cease and desist letters and DMCA take-down notices they have received or sent.</li>
      <li>Businesses that receive notices in large quantities.</li>
    </ul>
  </p>

  <p>For example, Google and Twitter have partnered with Chilling Effects to automatically send us all DMCA notices they receive.</p>

  <h2>Is there a way to export or download search results?</h2>
  <p>Not yet. But it’s coming soon.</p>

  <h2>What about access to the API?</h2>
  <p>Not yet. But researchers will have access to the API soon.</p>

  <h2>Is there a way to search for some period of time other than 30 days, 3 months, 6 months, 1 year, or all time?</h2>
  <p>Not yet. But it’s coming soon.</p>

</section>
