<% title 'Research' %>

<header>
  <h1>Research</h1>
</header>

<hr>

<section>
	<h1>Four Free Speech Goals for Trademark Law</h1>
	<p>Author: McGeveran, William</p>
	<p>Source: 18 Fordham Intell. Prop. Media & Ent. L.J. 1205 (2007-2008)</p>
	<p>Abstract/Summary: This Essay, prepared for the annual symposium of the Fordham Intellectual Property, Media & Entertainment Law Journal, sets out goals for preserving free speech within trademark law. In recent years, courts have begun to reach speech-protective results quite consistently in cases that raise such issues. They have not, however, developed unified or coherent doctrine for doing so, and they do not resolve such cases quickly. The resulting confusion of standards and prolonged litigation have a chilling effect on expression using trademarks, just as surely as if judges issued injunctions to prohibit the same speech. In short, procedural structure is at least as important as eventual outcomes. Therefore, in addition to achieving an appropriate substantive balance between economic and expressive objectives of trademark law, we should integrate First Amendment requirements into doctrine, design clearer standards, and facilitate faster and less expensive adjudication. Articulating these four goals sets the stage for upcoming work using them as standards to critique current law and propose reform.</p>
	<p>Link to Source: <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=1104465">https://papers.ssrn.com/sol3/papers.cfm?abstract_id=1104465</a></p>
	<p>Type of Citation: Link to specific complaints</p>

	<h1>Who's Feeling Lucky - Skewed Incentives, Lack of Transparency, and Manipulation of Google Search Results under the DMCA Note</h1>
	<p>Author: Urist, Joshua</p>
	<p>Source: 1 Brook. J. Corp. Fin. & Com. L. 209 (2006)</p>
	<p>Abstract/Summary: NA</p>
	<p>Link to Source: NA – not in public domain</p>
	<p>Type of Citation: Reference to specific complaints</p>

	<h1>Eldred, the First Amendment, and Aggressive Copyright Claims</h1>
	<p>Author: Alfred C. Yen</p>
	<p>Source: Houston Law Review, Vol. 40, No. 3, pp. 673-695, 2003
	Boston College Law School Legal Studies Research Paper No. 21</p>
	<p>Abstract/Summary: This Essay studies the effect of Eldred v. Ashcroft on the treatment of aggressive copyright claims. Aggressive copyright claims test the boundaries of copyright by urging courts to adopt unconventional or novel readings of doctrine that would extend copyright well beyond its core of preventing individuals from reproducing the copyrighted works of others. Accordingly, aggressive copyright claims are often made against defendants who have done more than simply "parrot" a copyrighted work. These defendants have generally added meaningful work of their own, whether in the form of comment and criticism, significant reworking of the plaintiff's material, or new material unrelated to the copyrighted work. At their most extreme, aggressive copyright claims assert that almost any borrowing from a copyrighted work constitutes actionable infringement. Aggressive copyright claims are interesting because they illustrate the tension between copyright and the First Amendment. A defendant who combines original speech with material borrowed from a copyrighted source may commit infringement, but this does not mean that no free speech problems exist. Copyright judgments generally include injunctions that effectively prevent the defendant from publishing or disseminating any original speech contained in the infringing work. Aggressive copyright claims often raise significant First Amendment problems because they tend to be brought against defendants whose alleged infringements contain a significant amount of new speech. Unfortunately, courts have been overly receptive to aggressive copyright claims, at least in part because conventional wisdom states that courts can safely ignore First Amendment concerns in copyright because copyright doctrine somehow "naturally" takes account of First Amendment values.The Essay criticizes this conventional wisdom because it supports the success of aggressive copyright claims that do little to advance copyright's fundamental purposes. It goes on to argue that conventional wisdom must be changed, and that the Supreme Court has begun this process by recognizing the First Amendment's importance to copyright in the Eldred opinion. The Essay concludes by showing how proper recognition of the First Amendment in copyright affects the treatment of aggressive copyright claims.</p>
	<p>Link to Source: <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=455980">https://papers.ssrn.com/sol3/papers.cfm?abstract_id=455980</a></p>
	<p>Type of Citation: Reference to specific complaints</p>

	<h1>Computers and Internet-Don't Be Evil?</h1><p>Author: D Flint</p>
	<p>Source: Business Law Review, 2006</p>
	<p>Abstract/Summary: NA</p>
	<p>Link to Source: <a href="https://www.kluwerlawonline.com/document.php?id=BULA2006023">https://www.kluwerlawonline.com/document.php?id=BULA2006023</a></p>
	<p>Type of Citation: General reference to lumendatabase.org (formerly chillingeffects.org) in Google Search results</p>

	<h1>Measuring Online Advertising Transparency in Singapore: An Investigation of Threats to Users</h1>
	<p>Author: Paul Watters</p>
	<p>Source: NA</p>
	<p>Abstract/Summary: Recent studies have highlighted the role that internet advertising plays in supporting the revenue of rogue websites (Taplin, 2013). Certainly, such advertising generates enormous profit margins for operators of these websites, and present an ongoing threat to the viability of Singapore’s creative industries. However, a recent study by Watters (2013) investigated the harms to users from viewing the increasingly “high risk” nature of advertising being hosted on these sites.</p>An analysis of advertising transparency was undertaken using the methodology developed by Watters (2013). A total of 5,000 webpages representing ten pages sampled from Google’s ad transparency report were downloaded in Singapore, and each ad banner categorised as being High Risk or Mainstream, where each page was verified as being in breach of Digital Millennium Copyright Act (DMCA) for movies and TV shows. 10% of ads were Mainstream, 90% were High Risk. The prevalence of Mainstream ads being served to Singaporeans is one order of magnitude greater than similar advertising being shown to Australians. The policy implications of this result and future research directions, including methodology enhancements, are discussed.
	<p>Link to Source: <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2362626">https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2362626</a></p>
	<p>Type of Citation: Contains an appendix of 500 top notices concerning Film and TV shows</p>

	<h1>Protecting the Public Policy Rationale of Copyright: Reconsidering Copyright Misuse</h1>
	<p>Author: Victoria Smith Ekstrand</p>
	<p>Source: Communication Law and Policy</p>
	Volume 11, Issue 4, 2006
	<p>Abstract/Summary: Copyright misuse protects a defendant's use of copyrighted material when the plaintiff has claimed a right in his work beyond the scope of copyright law and when such a claim is contrary to public policy. Historically, as this article demonstrates, courts have been reluctant to find in favor of defendants who claim copyright misuse and have interpreted the doctrine narrowly on the basis of antitrust considerations. However, more recent decisions and a growing body of literature suggest a greater role for copyright misuse. This article argues for such an expanded role and proposes a new section of copyright law titled "Limitations on Infringement: Copyright Misuse."</p>
	<p>Link to Source: <a href="https://www.tandfonline.com/doi/pdf/10.1207/s15326926clp1104_4">https://www.tandfonline.com/doi/pdf/10.1207/s15326926clp1104_4</a></p>
	<p>Type of Citation: References CE study of 850 notices to study flaws within them.</p>

	<h1>From pirates to patriots: fair use for digital media</h1>
	<p>Author: Davis, M.</p>
	<p>Source: MultiMedia, IEEE  (Volume:9 ,  Issue: 4 )</p>
	<p>Abstract/Summary: The dangers of current and proposed legislation to our freedom to research, develop, and publish about digital media technologies requires a fundamental shift in our research focus. We need to invent technologies that aren't designed to protect copyright in a way that makes the exercise of fair use rights impossible-for private, noncommercial purposes; educational and research purposes; and, in certain cases, public and commercial purposes. To navigate the potential minefield of copyright and fair use for digital media, I discuss three areas that help shape our discourse and practice-law and policy, technology, and media use</p>
	<p>Link to Source: <a href="https://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=1041941&tag=1">https://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=1041941&tag=1</a></p>
	<p>Type of Citation: References CE as a resource to study fair use on the web.</p>

	<h1>Evaluation of Face Recognition Algorithms on Avatar Face Datasets</h1>
	<p>Author: Yampolskiy, R.V. et al.</p>
	<p>Source: Cyberworlds (CW), 2011 International Conference on</p>
	<p>Abstract/Summary: Artimetrics, a field of study that identifies, classifies and authenticates virtual reality avatars and intelligent software agents, has been proposed as a tool for fighting crimes taking place in virtual reality communities and in multiplayer game worlds. Forensic investigators are interested in developing tools for accurate and automated tracking and recognition of avatar faces. In this paper, we evaluate state of the art academic and commercial algorithms developed for human face recognition in the new domain of avatar recognition. While the obtained results are encouraging, ranging from 53.57% to 79.9% on different systems, the paper clearly demonstrated that there is room for improvement and presents avatar face recognition as an open problem to the pattern recognition and biometric communities.</p>
	<p>Link to Source: <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=6079351">https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=6079351</a></p>
	<p>Type of Citation: Cites blog post: “S. Adamczyk, Second Life –– A Whole New World of Trademark Infringement? ChillingEffects.org, https://www.chillingeffects.org/weather.cgi?WeatherID=561, October, 2006” (As of 2018, this URL is https://www.lumendatabase.org/blog_entries/557.)</p>

	<h1>Mitigating the Risks of Messaging</h1>
	<p>Author: Maurene Caplan Grey</p>
	<p>Source: The Information Management Journal – Nov/Dec 2006</p>
	<p>Abstract/Summary: Recognizing and addressing the dangers of the casual nature of electronic messaging will minimize organizational risk. Putting an electronic communications plan in place is vital to protecting a company’s reputation, its business interests, and its compliance success.</p>
	<p>Link to Source: <a href="https://www.arma.org/bookstore/files/grey.pdf">https://www.arma.org/bookstore/files/grey.pdf</a></p>
	<p>Type of Citation: Reference to specific notice.</p>

	<h1>Mainstream Advertising on Rogue Websites in Hong Kong: A Comparison of Chinese and Western Titles</h1>
	<p>Author: Paul Watters</p>
	<p>Source: SSRN / NA</p>
	<p>Abstract/Summary: A number of studies have recently investigated the role played by mainstream internet advertising in supporting the revenue of rogue websites (Taplin, 2013). Such advertising by household names -- including multinational corporations, governments and charities -- generates enormous profit margins for operators of these websites, and present an ongoing threat to the viability of Hong Kong’s creative industries. However, a recent study by Watters (2014a) indicated users were much more likely to be exposed to “high risk” advertising on such sites, relative to mainstream ads. Australia (Watters, 2014a), Singapore (Watters, 2013a), Canada (Watters, 2013b) and New Zealand (Watters, 2014b) all had mainstream ad prevalence rates of 1-10%, while high risk ads had prevalence rates of 90-99%. High risk ads are those which have the potential to cause harm to users, and include pornography, gambling, malware and scams.These studies all investigated web pages that were sampled from Google’s ad transparency report for movies and TV shows or music downloads, having been verified as being in breach of the Digital Millennium Copyright Act (DMCA). However, the Google report is heavily biased towards Hollywood TV/movies and music in English, so another study (Watters, 2014c) investigated Hollywood content in Taiwan, where the sites were presented in Chinese. It was found that mainstream advertising was much more prevalent for locally-developed sites with Hollywood content, compared to viewing Hollywood content sites in the other countries examined. 61% of ads were Mainstream, while 39% were High Risk for local content. A key question remains whether Mainstream advertising would also be more prevalent not just for sites written in the local language, but also promoting local content (eg, a Chinese language website providing links to Chinese language titles).In this study, we directly measured prevalence rates for High Risk versus Mainstream ads for local versus Hollywood content for movies/TV in Hong Kong. A sample of expert-identified rogue sites hosting local content was identified, and all ad banners comprising part of the sample were downloaded and identified, along with the ad network serving each banner. A comparable sample was taken from Google’s ad transparency report. For local content, 61.36% of movie and TV ads were Mainstream, while 38.64% were High Risk. In contrast, 3.84% of Hollywood ads were Mainstream, while 96.16% were High Risk. Like Taiwan, this suggests that Mainstream advertisers in Asia are being drawn to local language sites, whereas Mainstream advertising rates for Hollywood titles are similar to other countries.In summary, local content sites were many times more likely to be displaying mainstream ads when compared to Hollywood content sites. The levels of mainstream advertising were almost identical to Taiwan for local content, and were similar to Canada, Singapore, Australia and New Zealand for Hollywood content.The policy implications of this result and future research directions, including methodology enhancements, are discussed.</p>
	<p>Link to Source: <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2468700">https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2468700</a></p>
	<p>Type of Citation: Appendix of Top 500 DMCA notices from CE</p>

	<h1>Search Engine Bias and the Demise of Search Engine Utopianism</h1>
	<p>Author: Eric Goldman</p><p>Source: Santa Clara University School of Law  Legal Studies Research Paper Series Research Paper No. 06-08</p>
	Marquette Law School Legal Studies Research Paper Series
	Research Paper No. 06-20
	<p>Abstract/Summary: Due to search engines' automated operations, people often assume that search engines display search results neutrally and without bias. However, this perception is mistaken. Like any other media company, search engines affirmatively control their users' experiences, which has the consequence of skewing search results (a phenomenon called "search engine bias"). Some commentators believe that search engine bias is a defect requiring legislative correction. Instead, this Essay argues that search engine bias is the beneficial consequence of search engines optimizing content for their users. The Essay further argues that the most problematic aspect of search engine bias, the "winner-take-all" effect caused by top placement in search results, will be mooted by emerging personalized search technology.</p>
	<p>Link to Source: <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=893892">https://papers.ssrn.com/sol3/papers.cfm?abstract_id=893892</a></p>
	<p>Type of Citation: References a Google link to CE for a removed search result (Scientology).</p>

	<h1>Digital Millennium Copyright Act Takedown Notice Procedure: Misuses, Abuses, and Shortcomings of the Process, The Note</h1>
	<p>Author: Cobia, Jeffrey</p><p>Source: 10 Minn. J.L. Sci. & Tech. 387 (2008-2009)</p>
	<p>Abstract/Summary: The takedown procedure provision of the Digital Millennium Copyright Act of 1998 (“DMCA”) was designed to balance the rights of copyright holders online with the rights of hosts who have no responsibility for, or knowledge of, third-</p>
	party material. However, the DMCA fails to provide adequate protections and does not achieve this desired balance between copyright holders and hosts.
	This Note delineates the shortcomings of the DMCA takedown procedure and provides possible solutions to these problems. To understand these shortcomings, it is necessary to have a detailed knowledge of the DMCA, specifically the
	takedown procedure, as well as the reason for its enactment.
	This Note describes how the DMCA takedown procedure fails to adequately enforce copyrights, leads to violations of copyrights, and is used inappropriately to censor criticism. This Note concludes that the DMCA takedown procedure is an
	ineffective and shortsighted policy that can nevertheless be remedied by requiring all takedown notices to pass through the U.S. Copyright Office.
	<p>Link to Source: <a href="http://www.mjlst.umn.edu/prod/groups/ahc/@pub/@ahc/@mjlst/documents/asset/ahc_asset_366013.pdf">http://www.mjlst.umn.edu/prod/groups/ahc/@pub/@ahc/@mjlst/documents/asset/ahc_asset_366013.pdf</a></p>
	<p>Type of Citation: Cites CE FAQ, Counter-notification guide and specific notice</p>

	<h1>To Bully or Not to Bully: Understanding the Role of Uncertainty in Trademark Enforcement Decisions</h1>
	<p>Author: Kiser, Jessica M.</p>
	<p>Source: 37 Colum. J.L. & Arts 211 (2013-2014)</p>
	<p>Abstract/Summary: Companies like Starbucks and Chick-fil-A are routinely labeled trademark bullies. The term “trademark bully” is typically used to describe a large company that uses aggressive intimidation tactics and threats of prolonged trademark infringement litigation to stop small businesses and individuals from using their own trademarks where the stated claims of infringement are likely spurious or non-existent. Trademark bullying harms competition and chills the free speech interests of those seeking to use trademarks for criticism and parody as permitted by the fair use doctrine. This Article identifies two fundamental causes that interact to encourage the aggressive tactics used by trademark bullies. First, trademark law imposes a vague duty on trademark owners to “police” third party trademark use for potential infringement. This uncertain duty renders trademark owners unable to accurately predict the risk of harm that third parties pose to their trademarks. Secondly, inherent cognitive biases affecting evaluations of such risk lead to systematic judgment errors and overestimation of the risk involved, thereby encouraging aggressive trademark enforcement. This Article uses prospect theory, an empirical social science approach to understanding human decision making, to characterize the psychological phenomena, including loss aversion and overestimation of risk, that motivate trademark bullies. Prospect theory explains apparently irrational decision making by trademark bullies. Recently proposed solutions for trademark bullying mistakenly assume that the trademark bully conducts a rational cost-benefit analysis prior to acting. Better solutions require an understanding of the actual psychological processes that underlie these aggressive tactics.</p>
	<p>Link to Source: <a href="https://academiccommons.columbia.edu/catalog/ac%3A169937">https://academiccommons.columbia.edu/catalog/ac%3A169937</a></p>
	<p>Type of Citation: Cites to CE about page, FAQs and specific notice.</p>

	<h1>Real-Life FAQs on Copyright and Intellectual Property for Web-based Education</h1>
	<p>Author: Suzanne Araas Vesely</p>
	<p>Source: Brick and Click Libraries Symposium Proceedings October 22, 2004</p>
	<p>Abstract/Summary: “I ripped an image out of a foreign site, but that’s OK because it isn’t covered by U.S. Copyright law, right?” “Is plagiarism against the law?” “Does the University own my intellectual property as a ‘work for hire’?” “Why should we care—
	we are below the radar anyway, being a small school, right?”
	In a digital age there is an abundance of questions like these about copyright and
	intellectual property, and the answers are not always easy to find. There are many sites on the web that offer FAQs on copyright, but most of them seem to have “canned” questions that are a tutorial in copyright basics masquerading as a FAQs question site, which can be frustrating for the user. Forsyth Library at Fort Hays State University offers an award-winning copyright site that includes a unique FAQs list answering real questions from faculty, staff, students and other concerned individuals. Creating the position of Copyright Librarian and creating this site has called attention to the logical link between library services and librarians’ insights as the most obvious means of filling gaps in copyright information while having resources at hand that are most able to cope with the demands of the law. The FAQs page is searchable by topic. It
	features how-to answers on general information, intellectual property issues and how to protect one’s own intellectual property, fair use and its
	limitations, the TEACH Act and why it is not fair use, duration, getting permission, and more.
	Links to especially helpful outside sites and to other of our Copyright and Intellectual Property pages help the user to find information quickly. We also encourage the user to contact the Copyright Librarian for specific questions: for instance, the FAQs site tells the user that we provide a permissions service, saving the university money, saving faculty paperwork, and connecting to a librarian who can find acceptable or even better alternative resources, should there be any difficulty in getting permission.
	The FAQs site was prepared in consultation with the University General Counsel, who suggested the development of the larger Online Links page to which the FAQs page points. The links page offers resources such as sites on litigation, an intellectual property lawyers’ forum site, the homepage of the U.S. Copyright Office, online tutorials, bill tracking sites, wired media, and more.
	The links page also anchors specific topics to a large bibliography, which is continuously updated, for students who want to research legal issues in copyright for classes. While protecting the university from torts, these and related efforts have proven to be popular. This spring, for instance, we marketed this and other electronically- based library services to
	individual departments, presenting at meetings for half of the teaching faculty departments.Faculty feedback has been consistent: that the Copyright Librarian is a valuable “resource person” and that the library has become a valuable resource and support system for the campus.</p>
	<p>Link to Source: <a href="https://files.eric.ed.gov/fulltext/ED489937.pdf#page=16">https://files.eric.ed.gov/fulltext/ED489937.pdf#page=16</a></p>
	<p>Type of Citation: Cites CE FAQs on Copyright.</p>

	<h1>Fan Fiction and the Fair Use Doctrine</h1>
	<p>Author: Kaelyn Christian</p>
	<p>Source: The Serials Librarian: From the Printed Page to the Digital Age</p>
	Volume 65, Issue 3-4, 2013
	<p>Abstract/Summary: This article analyzes the legality of Internet fan fiction through the “fair use doctrine” and the “four factor” test. Internet fan fiction exists in a copyright gray area, because it is (generally) not sold for profit and instead of borrowing from a source material's words, it borrows from their characters and worlds. In addition, there has been no legal precedent set regarding Internet fan fiction, so each instance must be taken on a case by case basis. This article attempts to navigate that gray area by exploring the basics of Fair Use, and then applying them to Internet fan fiction.</p>
	<p>Link to Source: <a href="https://www.tandfonline.com/doi/full/10.1080/0361526X.2013.838726#abstract">https://www.tandfonline.com/doi/full/10.1080/0361526X.2013.838726#abstract</a></p>
	<p>Type of Citation: Cites Wendy Seltzer post on CE: 1. Wendy Seltzer, “Chilling Effects Clearinghouse.”(accessed September 26, 2013). https://www.chillingeffects.org/fanfic/ (https://www.chillingeffects.org/fanfic/); as of 2018, https://www.lumendatabase.org/topics/3.</p>


	<h1>Hacker Curriculum : How Hackers Learn Networking</h1>
	<p>Author: Sergey Bratus</p>
	<p>Source: IEEE Distributed Systems Online Issue No.10 - October (2007 vol.8) pp: 2
	Published by the IEEE Computer Society</p>
	<p>Abstract/Summary: This two-part article discusses the factors distinguishing the hacker culture from the IT industry and traditional academia, using networking examples. This first part describes the starting points of the hackers' approach to layered computer systems.</p>
	<p>Link to Source: <a href="https://www.computer.org/csdl/mags/ds/2007/10/mds2007100002.html">https://www.computer.org/csdl/mags/ds/2007/10/mds2007100002.html</a></p>
	<p>Type of Citation: General reference to lumendatabase.org (formerly chillingeffects.org)</p>

	<h1>The Prevalence of High-Risk and Mainstream Advertisements Targeting Canadians on Rogue Websites</h1>
	<p>Author: Paul Watters</p>
	<p>Source: </p>
	<p>Abstract/Summary: The revenue models underpinning rogue websites have only received research attention (Taplin, 2013). The accumulation of wealth through advertising on rogue websites diverts revenues from rightsholders, who have invested in creative industries, and threatens the viability of such industries by eroding the earnings base. Yet the greatest risks from advertising on these sites are primarily financial; instead, these sites represent a clear and present danger to their users, who are often children. While users are often exposed to "mainstream" advertising – juxtaposing household company names with hardcore pornography and other illicit material – "high risk" advertising has been found to comprise the overwhelming majority of ads targeting Australians (Watters, 2013a) and Singaporeans (Watters, 2013b). In this study, we use the methodology developed by Watters (2013a) to assess the harms due to users from viewing rogue website ads. A total of 5,000 webpages sampled from Google’s ad transparency report were downloaded in Canada, and each ad banner was categorized as being high risk or mainstream, after each page was verified as being in breach of DMCA for movies and TV from major international studios. 11% of ads were mainstream, 89% were high risk. The prevalence of mainstream ads being served to Canadians is one order of magnitude greater than similar advertising being shown to Australians, but similar to Canadians. The policy implications of this result and future research directions, including methodology enhancements, are discussed.</p>
	<p>Link to Source: <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2389850">https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2389850</a></p>
	<p>Type of Citation: Appendix of Top 500 DMCA notices – Film and TV Shows</p>

	<h1>The Politics of Internet Control and Delegated Censorship</h1>
	<p>Author: Wendy Seltzer</p>
	<p>Source: American Society of International Law April 10, 2008</p>
	<p>Abstract/Summary: Against the myth that the Internet breaks traditional political boundaries, we find that the Internet itself looks different depending on our vantage point. The "politics of the Internet" includes that of Internet control, identifying chokepoints and the power that can be exerted upon and through them. For notwithstanding the distributed nature of the Internet, traffic to any given point passes through numerous bottlenecks where communications can be blocked. Moreover, major search engines operate as de facto points of centralization. Pressure at these points can change the local nature or view of the Internet, so one state's "Internet" does not look the same as another's. A state that wishes to suppress speech can do so, even online.</p>
	<p>Link to Source: <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=1496056">https://papers.ssrn.com/sol3/papers.cfm?abstract_id=1496056</a></p>
	<p>Type of Citation: General references to lumendatabase.org (formerly chillingeffects.org)</p>

	<h1>How Can Journals Respond to Threats of Libel Litigation?</h1>
	<p>Author: Nav Persaud, Thom Ringer, Trudo Lemmens</p>
	<p>Source: PLoS Med 11(3): e1001615. doi:10.1371/journal.pmed.1001615</p>
	<p>Abstract/Summary: The mere suggestion of litigation can bias the medical literature by affecting editorial decisions.
	* Journals and authors should publicly post threats of litigation or cease and desist letters.
	* There are some international legal precedents for publicly posting litigation threats.
	* Posting of litigation threats has some advantages over commonly employed strategies for guarding against libel chill, such as legal consultations and litigation insuranc
	(summary points from article)</p>
	<p>Link to Source: <a href="http://journals.plos.org/plosmedicine/article?id=10.1371/journal.pmed.1001615">http://journals.plos.org/plosmedicine/article?id=10.1371/journal.pmed.1001615</a></p>
	<p>Type of Citation: Cites CE generally, FAQs and references Perfect10 decision which describes CE</p>

	<h1>Brief of Amici Curiae, Information Society Project at Yale Law School Scholars in Support of the Petition</h1>
	<p>Author: Smith, Priscilla J. ; Scott, Genevieve E.</p>
	<p>Source: </p>
	<p>Abstract/Summary: Brief of Amici Curiae ("friend of the court") submitted by the Information Society Project at Yale Law School in support of petitioners, on petition for a Writ of Certiorari (No. 11-725)</p>
	<p>Link to Source: <a href="https://dukespace.lib.duke.edu/dspace/handle/10161/7636">https://dukespace.lib.duke.edu/dspace/handle/10161/7636</a></p>
	<p>Type of Citation: Description of Wendy Seltzer when describing Amici</p>

	<h1>DMCA's Safe Harbor Provision: Is It Really Keeping the Pirates at Bay, The</h1>
	<p>Author: Lane, Charles K.</p>
	<p>Source: 14 Wake Forest J. Bus. & Intell. Prop. L. 192 (2013-2014)</p>
	<p>Abstract/Summary: This article will provide background on selected portions of the</p>
	DMCA addressing safe harbor protection, anti-circumvention
	measures, and takedown procedures. It will then identify two primary
	problems with the DMCA: circumvention of copyright protection is too easy, and copyright holders have too much power in the takedown
	process. Finally, the article will address these two issues with
	proposed solutions that will benefit all parties involved.
	<p>Link to Source: <a href="http://ipjournal.law.wfu.edu/files/2014/01/Lane-JBIPL-Vol.-14-Issue-I-Fall-2013.pdf">http://ipjournal.law.wfu.edu/files/2014/01/Lane-JBIPL-Vol.-14-Issue-I-Fall-2013.pdf</a></p>
	<p>Type of Citation: Cites CE FAQs on DCMA Safe Harbour</p>

	<h1>Surf's up: social network services and analyses</h1>
	<p>Author: Langford, L.K.</p>
	<p>Source: Engineering Management Review, IEEE  (Volume:38 ,  Issue: 3 )</p>
	<p>Abstract/Summary: Social network utilities have become worldwide phenomena that continue to attract scores of Internet enthusiasts. For example, there is the notion of the blogosphere, which is characterized by communal determination to share information and viewpoints. Weblogs are written as personal diaries that sometimes combine subjective thoughts with journalistic reporting. Capabilities of individual authors range from private novices to professional correspondents. Entries usually focus on specific topics and may contain hyperlinks to other relevant resources.</p>
	<p>Link to Source: <a href="https://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=5559149&tag=1">https://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=5559149&tag=1</a></p>
	<p>Type of Citation: Generally describes CE and its goals.</p>

	<h1>DEADWEIGHT LOSS EFFECT OF THE "NOTICE AND TAKEDOWN" PROCEDURES AND SAFE HARBOR PROVISIONS IN THE DIGITAL MILLENNIUM COPYRIGHT ACT OF 1998</h1>
	<p>Author: Sangyong Han</p>
	<p>Source: Pacific Telecommunications Council Conference 2011 Proceedings</p>
	<p>Abstract/Summary: Digitally connected media experience proffers a dou
	ble-edged challenge both to media
	companies and media users. It has opened continuous
	ly expanding new markets for the
	media enterprises with possible threats of digitali
	zed infringements of their copyrights.
	On the other hand, the media users seem to fully ta
	ke advantage of the digital media
	environment. This paper assesses the Digital Millen
	nium Copyright Act of 1998 primarily
	based upon its slanted takedown procedure, and ques
	tions the legal accomplishments
	for the ultimate goals of the copyright regulation</p>
	<p>Link to Source: <a href="https://www.ptc.org/ptc11/images/papers/upload/Han_Sangyong_Paper.pdf">https://www.ptc.org/ptc11/images/papers/upload/Han_Sangyong_Paper.pdf</a></p>
	<p>Type of Citation: Generally cites CE and its different aspects.</p>

	<h1>Review the Literatures of the Commons, and its Application to the Intellectual Property and the Internet</h1>
	<p>Author: Piyabutr Bunaramrueang</p><p>Source: Midnight University Journal, 2007</p>
	<p>Abstract/Summary: There are many controversial ideas of resource utilization. The main discussion is how to maximally benefit from the scarce resources; "private property" and "common property" regimes are the two major solutions for centuries. However, the private property has been taking into the major role as the most convincing principle of economics. The intellectual property has been established and developed but not exactly from the same ground of property of things. Today the intellectual property is expanding its border of exclusive rights and impairs individuals' reasonable rights to enjoy the common intellectual property. The more problematic issue has occurred when the intellectual property are published via the internet. The intellectual property has being reviewed. Legal academics already realize the expanding border of intellectual property. They are currently trying to emphasize the solution of common property. This article is aimed to review those distinguish literatures of the commons, its application to the information age today, and its fascinating way of tomorrow.</p>
	<p>Link to Source: <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=1011343">https://papers.ssrn.com/sol3/papers.cfm?abstract_id=1011343</a></p>
	<p>Type of Citation: Cites different parts of CE including fanfic, defamation etc.</p>


	<h1>Copyright</h1>
	<p>Author: Helen Roberts</p>
	<p>Source: Incite, Vol. 29, No. 10, Oct 2008: 18</p>
	<p>Abstract/Summary: NA</p>
	<p>Link to Source: <a href="https://search.informit.com.au/documentSummary;dn=399950449080294;res=IELHSS">https://search.informit.com.au/documentSummary;dn=399950449080294;res=IELHSS</a></p>
	<p>Type of Citation: NA</p>

	<h1>Social Media in the Digital Millennium</h1>
	<p>Author: Julie Nichols Matthews Et al.</p>
	<p>Source: Landslide, May-June 2013, at 26</p>
	<p>Abstract/Summary: Social media platforms have proliferated on the Internet and millions of users upload content daily. In accordance with the Digital Millennium Copyright Act, when infringing content is uploaded onto a social media platform, the copyright holder can issue a take down notice, and a platform that fails to comply risks losing the benefit of the DMCA’s safe harbors. This article describes recent legal developments concerning the DMCA and its application to social media.</p>
	<p>Link to Source: <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2272170">https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2272170</a></p>
	<p>Type of Citation: Generally cites Twitter's notices being indexed on CE</p>

	<h1>BIBLIOGRAPHIE GÉNÉRALE Émission/réception de messages : poste, douane, cyberespace. Sélection biblio- et
	webographique</h1>
	<p>Author: NA</p>
	<p>Source: 2010/1 n° 123 | pages 96 à 100 (Cairn.info)</p>
	<p>Abstract/Summary: NA</p>
	<p>Link to Source: <a href="https://www.cairn.info/load_pdf.php?ID_ARTICLE=RFEA_123_0096">https://www.cairn.info/load_pdf.php?ID_ARTICLE=RFEA_123_0096</a></p>
	<p>Type of Citation: General cites CE as a reference site.</p>

	<h1>Copyright enforcement or censorship: new uses for the DMCA?</h1>
	<p>Author: Lesk, M</p>
	<p>Source: Security & Privacy, IEEE  (Volume:1 ,  Issue: 2 )</p>
	<p>Abstract/Summary: Section 512 of the Digital Millennium Copyright Act (DMCA) has a provision that protects ISPs from liability for transmitting copyright violations-as long as they have and follow a process for removing infringements when notified of them. Given the DMCA's wording, any attempt to be sure that we will know in the future what was said today will depend on clarifying the rights and responsibilities of libraries and the archive organizations that have traditionally maintained historical records; the special status of the US Library of Congress and the US National Archives and Records Administration might be of use here.</p>
	<p>Link to Source: <a href="https://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=1193214&tag=1">https://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=1193214&tag=1</a></p>
	<p>Type of Citation: General reference to lumendatabase.org (formerly chillingeffects.org) and its work.</p>

	<h1>Faculty Distance Courseware Ownership and the “Wal-Mart” Approach to Higher Education</h1>
	<p>Author: Rosemary Talab</p>
	<p>Source: </p>
	<p>Abstract/Summary: Whether by choice or necessity,
	colleges and universities are in
	competition with each other for
	the burgeoning web-based course
	market. Spurred by the growth of the
	for-profits such as the University of
	Phoenix, institutions have reasons,
	both practical and philosophical, “...
	to secure a position in ownership and
	control of faculty-produced digital
	intellectual property” (DiRamio &
	Kops, 2004). Web-based courses and
	distance learning courseware require
	more technical support, faculty setup,
	and campus resources. As a result,
	universities are increasingly becoming
	de facto courseware owners (Kromrey,
	Barron, Hogarty, Hohfeld, Loggie,
	Schullo, Gulitz, Venable, Bennouna,
	& Sweeney, 2005; Lape, 1992; Loggie,
	Barron, Gulitz, Hohlfeld, Kromrey, &
	Venable, 2006; Packard, 2002). Two
	questions that need to be asked at this
	time are:
	•
	To what extent are institutions
	becoming “big-box” stores –
	courseware “Walmarts”?
	•
	To what extent do faculty wish
	to be compensated based on
	collective bargaining models
	rather than on faculty intellectual
	property rights?</p>
	<p>Link to Source: <a href="https://link.springer.com/article/10.1007%2Fs11528-007-0047-3?LI=true#page-1">https://link.springer.com/article/10.1007%2Fs11528-007-0047-3?LI=true#page-1</a></p>
	<p>Type of Citation: General Reference to CE</p>
	TechTrendsJuly 2007, Volume 51, Issue 4, pp 9-12

	<h1>A Critical Analysis of the Google Story</h1>
	<p>Author: Gautam Jayasurya</p>
	<p>Source: </p>
	<p>Abstract/Summary: Google was conceptualised and built during the start of the IT bubble. This IT bubble was a period in which tech companies rose in stature and stock price. It was a period of unprecedented economic growth in the US, and consequently in markets worldwide. This is a very important factor in the success of Google. In particular there was an increase in a trend of prefix investing whereby, a company would add just a prefix of ‘e-‘ and/or a suffix of ‘.com’ and watch their stock price go up. Corporate America suddenly warmed up to the idea of several start-ups and amidst the crowd, there was Google. At that time, the future held so much promise that people were often blinded of reason and invested in risky business propositions.</p>
	<p>Link to Source: <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=1506604">https://papers.ssrn.com/sol3/papers.cfm?abstract_id=1506604</a></p>
	<p>Type of Citation: General Reference to CE (wrong in that it says you can request a takedown at CE)</p>

	<h1>Fair Use, Film, and the Advantages of Internet Distribution</h1>
	<p>Author: Fred von Lohmann</p>
	<p>Source: Cinema Journal Vol. 46, No. 2 (Winter, 2007), pp. 128-133</p>
	<p>Abstract/Summary: The article illustrates how the 1998 Digital Millennium Copyright Act (DMCA) has shifted the power to make fair use claims from gatekeepers to filmmakers. It explores the copyright rules governing traditional media gatekeepers like film exhibitors, broadcasters and distributors. It explains the copyright rules for online video hosting providers like YouTube and Yahoo Video. It asserts that hosting one's own film offers a filmmaker more freedom from the rights clearance demands of gatekeepers.</p>
	<p>Link to Source: <a href="NA in public domain">NA in public domain</a></p>
	<p>Type of Citation: Reference to Chilling Effect site generally and FAQs.</p>

	<h1>Irrelevant Confusion</h1>
	<p>Author: Lemley, Mark A.; McKenna, Mark</p><p>Source: 62 Stan. L. Rev. 413 (2009-2010)</p>
	<p>Abstract/Summary: Trademark law centers its analysis on consumer confusion. With some significant exceptions, the basic rule of trademark law is that a defendant’s use of a mark is illegal if it confuses a substantial number of consumers and not otherwise.As a general matter, this is the right rule. Trademark law is designed to facilitate the workings of modern markets by permitting producers to accurately communicate information about the quality of their products to buyers, and therefore to encourage them to invest in making quality products in circumstances in which that quality wouldn’t otherwise be apparent. If competitors can falsely mimic that information, they will confuse consumers, who won’t know whether they are in fact getting a high quality product and therefore won’t be willing to pay as much for that quality. I won’t pay as much for an iPod if I think there is a chance it is a cheap knock-off masquerading as an iPod.The law of false advertising operates as an adjunct to trademark law. While trademark law prevents competitors from misrepresenting the source of their products by mimicking another’s brand name, the law of false advertising prevents false or misleading statements about the quality of one’s own or a competitor’s products. Like trademark law, false advertising law is designed to protect the integrity of markets by allowing consumers to rely on statements made by sellers.Unfortunately, trademark law has taken the concept of confusion too far. Between 1930 and 1980, courts expanded the concept of confusion beyond confusion as to the source of a product to include the possibility that consumers are confused as to whether the trademark owner sponsors or is affiliated with the defendant’s goods. This expansion began for plausible reasons: consumers might be confused to their detriment in a variety of circumstances in which the plaintiff and the defendant do not actually compete directly. But sponsorship and affiliation confusion has taken on a life of its own, resulting in a large number of cases in which companies or individuals are prevented from doing things that might conceivably confuse consumers, but do not confuse consumers in any way that harms their decision-making process or that the law should care about. In Part I, we offer a number of examples of “confusion” that courts have found actionable even in circumstances in which that confusion was unlikely to matter to the operation of the market. Part II explains how we arrived at this unfortunate pass.We suggest in Part III that trademark law should focus its attention on confusion that is actually relevant to purchasing decisions. We would make the source of the goods the central element of confusion analysis. It is confusion as to source that is most obviously relevant to the purposes behind trademark law. That does not mean, however, that confusion as to the relationship between plaintiff and defendant can never be actionable. Confusion as to affiliation should be actionable when consumers are likely to believe that the trademark owner stands behind or guarantees the quality of the goods the defendant sells. Even if consumers understand that individual franchisees, rather than the McDonald’s Corporation, actually make their hamburgers, they are likely to expect that McDonald’s stands behind whatever quality that brand represents.Finally, the fact that confusion as to sponsorship or affiliation should not generally be trademark infringement does not mean that it will never be actionable. Some statements that create confusion as to sponsorship or affiliation will be actionable as a form of false advertising. We address the scope of false advertising in Part IV. Notably, proof of a false advertising claim requires the plaintiff to demonstrate that the misrepresentation is material – that it is likely to affect a product purchasing decision. Indeed, the statute specifies the sorts of misrepresentations that are forbidden. We continue the discussion in Part V, which explores some of the implications of shunting some cases into the false advertising framework, and discusses how to handle some close cases.</p>
	<p>Link to Source: <a href="https://www.stanfordlawreview.org/sites/default/files/articles/Lemley-McKenna.pdf">https://www.stanfordlawreview.org/sites/default/files/articles/Lemley-McKenna.pdf</a></p>
	<p>Type of Citation: Citing aggregate data, specific notices and general references: ”As of February 25, 2009, the Chilling Effects database contained 378 such letters. Among the
	many specious objections are an objection from the National Pork Board (owner of the trademark “THE OTHER WHITE MEAT”) to the operator of a breastfeeding advocacy site called “The Lactivist” for selling T-
	shirts with the slogan “The OtherWhite Milk,”Pork Board Has a Cow over Slogan Parody, CHILLING EFFECTS CLEARINGHOUSE, Jan. 30, 2007,
	https://www.chillingeffects.org/trademark/notice.cgi?NoticeID=6418; from Kellogg to the registrant of the domain name “evilpoptarts.com,” Kelloggs Poops on
	Evilpoptarts.com,CHILLINGEFFECTSCLEARINGHOUSE,June 5, 2006,
	https://www.chillingeffects.org/acpa/notice.cgi?NoticeID=4377; from Nextel to the registrants of the domain name“nextpimp.com,”Nextel Says “Don‟t Pimp My Mark”,CHILLINGEFFECTSCLEARINGHOUSE, June 22, 2005, https://www.chillingeffects.org/acpa/notice.cgi?NoticeID=2322; and from the
	owners of the Marco Beach Ocean Resort to the operators of “urinal.net,” a website that collects pictures of urinals in various public places, for depicting urina
	ls at the Resort and identifying them as such,Mark Owner Pissed About Urinals,CHILLINGEFFECTSCLEARINGHOUSE,Jan. 4, 2005,
	https://www.chillingeffects.org/trademark/notice.cgi?NoticeID=1576. (As of 2018, these URLs are, respectively, https://www.lumendatabase.org/notices/19185, https://www.lumendatabase.org/notices/12186, https://www.lumendatabase.org/notices/7961, and https://www.lumendatabase.org/notices/4350.)</p>

	<h1>Baiting the Hook: The Failure of the PTO Trademark Litigation Tactics Report to Dissuade Either Trademark Bullying or Trademark Baiting Comment</h1>
	<p>Author: Callery, Timothy J.</p>
	<p>Source: 64 Admin. L. Rev. 909 (2012)</p>
	<p>Abstract/Summary: NA</p>
	<p>Link to Source: NA in public domain (Hein)</p>
	<p>Type of Citation: NA</p>

	<h1>Historical Understandings of Derivative Works and Modern Copyright Policy</h1>
	<p>Author: </p>
	<p>Source: NA (2011 Honors Thesis).</p>
	<p>Abstract/Summary: The Fair Use Doctrine allows unauthorized uses of copyrighted works by scholars, reporters, and parodists but does little to protect creative critics or non-commercial transformative works. The Fair Use Doctrine is valuable because it provides cover for criticism, derivation, and creativity using copyrighted works without requiring permission. It also acknowledges the derivative nature of much creation. To better protect derivative works and their authors, fair use must be modified in two ways. First, creative criticisms of non-technical works should receive stronger protection. Second, non-commercial derivative works should be presumptively fair use. These modifications will be a start towards protecting a large and vibrant community producing both creatively critical and entertaining derivative works borrowing from the settings, characters and concerns of earlier authors.</p>
	<p>Link to Source: <a href="http://repository.cmu.edu/hsshonors/119/">http://repository.cmu.edu/hsshonors/119/</a></p>
	<p>Type of Citation: Links to specific notices as well as to FAQ (FanFic).</p>
	Jessica Dickinson Goodman

	<h1>Fan Fiction, Fandom, and Fanfare: What's All the Fuss Note</h1>
	<p>Author: McCardle, Meredith</p>
	<p>Source: 9 B.U. J. Sci. & Tech. L. 433 (2003)</p>
	<p>Abstract/Summary: This Note is a guide for anyone interested in the plight of the fan fiction
	author, be it the writer himself, the consumer of cultural products, or the passive observer with an interest in intellectual property law. Nonetheless, this Note’s orientation is written primarily for the fan fiction author. Part II of  this Note will begin by familiarizing the lay person with the world of fan  fiction. It will explain basic terms and trace the history of fan fiction. Also, it will explore the cultural and sociological significance behind the writing of fan
	fiction. Part III of this Note will delve into the copyright
	issues surrounding fan fiction and determine which exclusive rights of a copyright owner fan fiction authors violate when they write stories. Of particular importance to the fan fiction author, Part III will also set ou
	t any defenses he or she could use if
	tested by a copyright owner, beginning first with implied consent. This Note
	will then explain the fair use doctrine as it relates to fan fiction and will give
	fan fiction authors basic guidelines to st
	ructure their stories within the current
	scope of fair use precedent. Part III
	will next undertake a discussion of
	trademark law and determine whether fan fiction authors could face liability
	for trademark dilution. Finally, Part IV of this Note will summarize the issues
	and provide something of a checklist that fan fiction authors can use to avoid
	liability.</p>
	<p>Link to Source: <a href="https://www.bu.edu/law/central/jd/organizations/journals/scitech/volume92/mccardle.pdf">https://www.bu.edu/law/central/jd/organizations/journals/scitech/volume92/mccardle.pdf</a></p>
	<p>Type of Citation: General citation to CE</p>

	<h1>Revitalizing the Doctrine of Trademark Misuse</h1>
	<p>Author: Ridgway, William E.</p><p>Source: 21 Berkeley Tech. L.J. 1547 (2006)</p>
	<p>Abstract/Summary: </p>
	<p>Link to Source: <a href="https://scholarship.law.berkeley.edu/cgi/viewcontent.cgi?article=1666&context=btlj">https://scholarship.law.berkeley.edu/cgi/viewcontent.cgi?article=1666&context=btlj</a></p>
	<p>Type of Citation: Multiple references to CE including multiple notices cited, and general references to the site and its functions.</p>

	<h1>Sweet As? Advertising on Rogue Websites in New Zealand</h1>
	<p>Author: Paul Watters</p>
	<p>Source: </p>
	<p>Abstract/Summary: Recent studies have highlighted the role that internet advertising plays in supporting the revenue of rogue websites (Taplin, 2013; Watters, 2014). Certainly, such advertising generates enormous profit margins for operators of these websites, and present an ongoing threat to the viability of New Zealand’s creative industries. However, a recent study by Watters (2014) investigated the harms to Australian users from viewing the increasingly “high risk” nature of advertising being hosted on these sites.</p>An analysis of advertising transparency was undertaken using the methodology developed by Watters (2014). A set of webpages was sampled from Google’s ad transparency report and were downloaded in New Zealand, for (a) movies and TV shows or (b) music downloads. Each page was verified as being in breach of the Digital Millenium Copyright Act (DMCA), and each ad banner on each page was categorised as being High Risk or Mainstream. 3.66% of movie and TV ads were Mainstream, while 96.34% were High Risk. Similarly, 6.74% of music ads were Mainstream, while 93.26% were High Risk. The prevalence of Mainstream ads being served to Kiwis is higher than advertising being shown to Australians (Watters, 2014), but lower compared to Singapore (Watters, 2013a) and Canada (Watters, 2013b). The mechanisms by which Mainstream advertisers may be unwittingly caught up in sites linked to piracy are explored.The policy implications of this result and future research directions, including methodology enhancements, are discussed.
	<p>Link to Source: <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2466696">https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2466696</a></p>
	<p>Type of Citation: Appendix of Top 500 DMCA notices on Film and TV</p>

	<h1>Dogs on the internet:</h1>
	equality and human rights
	<p>Author: Tina van der Linden-Smith</p>
	<p>Source: Netherlands Institute of Human Rights</p>
	<p>Abstract/Summary: NA</p>
	<p>Link to Source: <a href="https://sim.rebo.uu.nl/wp-content/uploads/2015/04/van-der-Linden-Smith_Dogs-on-the-internet.pdf">https://sim.rebo.uu.nl/wp-content/uploads/2015/04/van-der-Linden-Smith_Dogs-on-the-internet.pdf</a></p>
	<p>Type of Citation: General Reference to CE</p>

	<h1>Search Engines, Data Aggregators and UK Copyright Law: A Proposal</h1>
	<p>Author: Ben Allgrove Paul Ganley</p>
	<p>Source: Allgrove & Ganley, 'Search Engines, Data A
	ggregators and UK Copyright Law: A Proposal'
	(Working Paper, 7 February 2007)</p>
	<p>Abstract/Summary: Given the recent release of the Gowers Review in the UK, the time is ripe for considering the fundamentals of our intellectual property regime. This article focuses on some of the most common activities (e.g. linking, spidering and caching) routinely undertaken by search engines and data aggregators and assesses the potential copyright liability that these intermediaries are exposed to under UK law.The authors argue that, despite the UK government's recent decision not to extend the limitations of liability that already apply to Internet intermediaries, the legal risks these intermediaries face are too great given their critical role in the effective functioning of the Internet, and that the UK should take steps to introduce a new fair dealing exemption for informational use.</p>
	<p>Link to Source: <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=961797">https://papers.ssrn.com/sol3/papers.cfm?abstract_id=961797</a></p>
	<p>Type of Citation: References to specific notices</p>

	<h1>Will Fair Use Survive the Digital Age?</h1>
	<p>Author: Marjorie Heins</p>
	<p>Source: Free Culture and the Digital Library Symposium Proceedings 2005</p>
	<p>Abstract/Summary: Fair use is a critical free-expression safeguard in
	copyright and trademark law. As the Supreme Court recently
	recognized, fair use assures that the public can borrow “not only
	facts and ideas contained in a copyrighted work, but also
	expression itself in certain circumstances”—among them,
	criticism, comment, news reporting, and scholarship (Eldred vs.
	Ashcroft, 2003). But the coming of the digital age, combined
	with a tilt in law and public po
	licy toward increased control by
	owners of “intellectual property,” now poses a major challenge
	to fair use as a vehicle for free expression and the growth of the
	digital library. “Cease and desist” letters from copyright and
	trademark owners, “take-down” letters under the Digital
	Millennium Copyright Act (the DMCA), and demands for
	“broadcast flags” and copyright filters on peer-to-peer software
	are just some of the developments that threaten the full exercise
	of fair use rights. After giving an overview of the dilemmas
	confronting fair use and free expression online, this paper
	describes empirical research conducted by the Free Expression
	Policy Project at the Brennan Center for Justice on the attitudes
	and experiences of artists, schola
	rs, Web publishers, and others
	with copyright, fair use, and similar conflicts under trademark
	law. Stories from filmmakers, art
	historians, authors, and visual
	artists demonstrate the very real dilemmas that they face in
	trying to find out what fair use means, how to take advantage of
	it, and how to persuade publishe
	rs, distributors, insurers, and
	others to resist the sometimes overzealous industry enforcement
	of IP controls. The paper concludes that although many people
	are aware of their rights and do resist cease and desist letters or
	DMCA take-down notices, there is an urgent need for more
	information, better community support and legal backup, and
	statements of “best practices” by filmmakers and other artists
	that can be used to make fair use a reality in the digital age.</p>
	<p>Link to Source: <a href="https://digital.library.unt.edu/ark:/67531/metadc97947/m2/1/high_res_d/FCDL-Proceedings-FINAL_0.pdf#page=183">https://digital.library.unt.edu/ark:/67531/metadc97947/m2/1/high_res_d/FCDL-Proceedings-FINAL_0.pdf#page=183</a></p>
	<p>Type of Citation: Multiple - >10 references to specific notices and CE generally</p>

	<h1>Bare necessities: the argument for a ‘revenge porn’ exception in Section 230 immunity</h1>
	<p>Author: Allison Tungate</p>
	<p>Source: Information & Communications Technology Law</p>
	Volume 23, Issue 2, 2014
	<p>Abstract/Summary: ‘Revenge porn’ is the online posting of nude or sexually explicit photographs or videos of a former lover without his or her consent. Despite the malicious intent behind revenge porn, victims are provided with little to no relief due to Section 230 of the Federal Communications Decency Act, also known as the ‘Good Samaritan’ provisions. Section 230 unambiguously provides blanket immunity for website operators and Internet service providers that feature user-generated content, including revenge porn.
	In Section 1, I discuss the purpose of Section 230 of the Communication Decency Act. In Section 2, I analyze the legal impact of the blanket immunity established in Section 230. In Section 3, I examine the potential remedies already in existence for revenge porn victims and highlight their inadequacies. In Section 4, I argue Congress should create a narrow exception to Section 230 immunity specifically geared toward revenge porn. The exception would establish a definition of revenge porn, which would prevent over-deterrence. Additionally, the exception would institute a takedown procedure similar to the process found in the Digital Millennium Copyright Act. In creating a narrow exception, the spirit of Section 230 will remain while also providing adequate legal relief for victims of revenge porn.</p>
	<p>Link to Source: <a href="https://www.tandfonline.com/doi/full/10.1080/13600834.2014.916936#abstract">https://www.tandfonline.com/doi/full/10.1080/13600834.2014.916936#abstract</a></p>
	<p>Type of Citation: References to notices concerning revenge porn as well as general references to CE</p>

	<h1>Save Canada’s Internet from WIPO</h1>
	<p>Author: Cory Doctorow</p>
	<p>Source: The Best Software Writing I 2005, pp 53-58</p>
	<p>Abstract/Summary: NA</p>
	<p>Link to Source: <a>NA in public domain</a></p>
	<p>Type of Citation: NA</p>
</section>
