<section class="search-results">
  <header>
    <div class="result-stats">About 359,000 results</div>
  </header>
  <ol class="results-list">
    <% 7.times do %>
      <li class="result">
        <h3><a href="#">Articles DMCA (Copyright) Complaint to Google</a></h3>
        <div class="metadata">
          <div class="date-received">February 14, 2013</div>
          <div class="sender-receiver"><a href="#" class="sender">Microsoft Corporation</a><span class="arrow"><%= image_tag 'arrow-small.svg' %></span><a href="#" class="receiver">Google Inc.</a></div>
          <ol class="excerpt">
            <li><b>Copyright claim #16:</b> <em>Game of Thrones</em></li>
            <li><b>Copyright claim #17:</b> <em>Game of Thrones</em> Soundtrack</li>
          </ol>
          <div class="category">in <a href="#">Copyright</a></div>
        </div>
      </li>

      <li class="result">
        <h3><a href="#">BBC demands removal of decryption instructions from Google Groups</a></h3>
        <div class="metadata">
          <div class="date-received">November 16, 2005</div>
          <div class="sender-receiver"><a href="#" class="sender">Advanced Access Content System Licensing Administrator, LLC (AACS LA)</a><span class="arrow"><%= image_tag 'arrow-small.svg' %></span><a href="#" class="receiver">Google Inc.</a></div>
          <ol class="excerpt">
            <li><b>Copyright claim #0:</b> The copyrighted work at issue is the television program "<em>Game of Thrones</em>", which is owned by "Home Box Office". </li>
          </ol>
          <div class="category">in <a href="#">Anticircumvention (DMCA)</a>,
            <a href="#">DMCA Safe Harbor</a></div>
        </div>
      </li>
    <% end %>
  </ol>
</section>
