@import 'select2';

#redaction-form {
  margin-top: 25px;

  label {
    font-weight: bold;
  }

  #redacted-fields {
/*    float: left; */
    margin-right: 20px;
  }

  #review-required {
    margin: 20px;
    margin-left: 0;

    label {
      display: inline;
      margin-left: 1.5em;
    }

    .hint {
      font-style: italic;
    }
  }
}

// Redaction queue
//************************************************************************//

#refill-queue {
  $label-width: 110px;
  margin-bottom: 45px;

  h4 {
    margin-bottom: 1.2em;
  }

  label {
    float: left;
    min-width: $label-width;
    font-weight: bold;
    margin-top: 7px;
  }

  .btn {
    margin-left: $label-width;
  }
}
div.select2-container {
  margin-bottom: 1em;
}

// Redaction Edit
//************************************************************************//
.redact-info {
  margin-bottom: 0;
}

aside#redaction-tools {
  padding-top: 10px;

  form {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 0;
  }
}

[id^='edit_'],
[id^='new_'] {
  textarea {
    height: 300px !important;
    width: 500px !important;
    max-width: 100%;
  }

  td.compact {
    textarea {
      max-width: 90%;
    }
  }
}

.span3 {
  @extend .col-md-3;
}

.span9 {
  @extend .col-md-9;
}

// Statistics
//************************************************************************//
.admin-token-urls-per-day-wrapper {
  height: 300px;
}

.admin-statistics-section-other {
  table {
    td {
      padding: 5px 8px;
      font-size: 20px;
    }
  }
}


// Notice Edit
//************************************************************************//
[id$='_works_json_field'],
[id$='_tag_list_field'],
[id$='_jurisdiction_list_field'],
[id$='_regulation_list_field'],
[id$='_customizations_field'] {
  h3, .card {
    font-size: 14px;
  }

  h3 {
    border-bottom: 1px solid black;
  }

  .btn-group {
    margin-bottom: 10px;
  }
}

.je-object__container {
  [type="checkbox"] {
    margin-right: 10px;
  }
}
