@import 'select2';

#redaction-form {
  margin-top: 25px;

  label {
    font-weight: bold;
  }

  #redacted-fields {
/*    float: left; */
    margin-right: 20px;
  }

  #review-required {
    margin: 20px;
    margin-left: 0;

    label {
      display: inline;
      margin-left: 1.5em;
    }

    .hint {
      font-style: italic;
    }
  }
}

// Redaction queue
//************************************************************************//

#refill-queue {
  $label-width: 110px;
  margin-bottom: 45px;

  h4 {
    margin-bottom: 1.2em;
  }

  label {
    float: left;
    min-width: $label-width;
    font-weight: bold;
    margin-top: 7px;
  }

  .btn {
    margin-left: $label-width;
  }
}
div.select2-container {
  margin-bottom: 1em;
}

// Redaction Edit
//************************************************************************//
.redact-info {
  margin-bottom: 0;
}

aside#redaction-tools {
  padding-top: 10px;

  form {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 0;
  }
}

#edit_notice {
  textarea {
    height: 400px;
    width: 700px;
  }

  label {
    display: block;
  }
}

.span3 {
  @extend .col-md-3;
}

.span9 {
  @extend .col-md-9;
}
