section.category-description {
  @include span-columns(9);
  @include pad(0 25px 0 0);
  margin-bottom: 40px;

  @include media($mobile) {
    width: 100%;
  }

  h1 {
    font-weight: 800;
    margin-bottom: 12px;
  }

  p {
    font-size: $base-font-size-1 + 1;
    line-height: 1.7em;
    margin-bottom: 2em;
  }
}

section.category-notices {
  @include span-columns(3);
  @include omega;
  @include pad(0 20px);
  margin-top: 21px;
  margin-bottom: 40px;

  @include media($mobile) {
    width: 100%;
    border-left: 0;
    padding: 0;
    margin: 0;
  }

  ol {
    margin: 0;
    padding: 0;

    li {
      $pad: 0.75em;
      border-bottom: 1px solid lighten($base-border-color, 5%);
      display: block;
      margin-bottom: $pad;
      padding-bottom: $pad;
    }
  }

  h4 {
    color: $base-link-color;
    font-size: $base-font-size-1 + 1;
    font-weight: bold;
    margin-bottom: 23px;
  }

  a {
    font-size: $base-font-size - 1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    display: none;
  }
}

section.category-faqs {
  @extend %faq-accordion;
  clear: left;
  margin-top: 2em;
  padding-top: 1px;

  h3.title {
    @extend %header-title;
    font-size: $base-font-size-1;

    @include media($mobile) {
      margin-left: 0;
    }
  }
}

