section.posts {
  @include span-columns(8);
  margin-top: 10px;

  @include media($mobile) {
    float: none;
    @include span-columns(4);
  }
}

article.post-item {
  margin: 45px $base-padding 75px 65px;

  @include media($tablet) {
    margin: 45px $base-padding 75px $base-padding;
  }

  @include media($mobile) {
    margin: 45px $base-padding-mobile 75px $base-padding-mobile;
  }

  h3 {
    font-weight: 800;
    line-height: 1.2;
    margin-top: 0;

    a, a:hover, a:active {
      color: $base-font-color;
      text-decoration: none;
    }
  }

  div.metadata {
    @extend %blog-metadata;
  }

  a.snippet {
    font-family: $serif;
    text-decoration: none;
    color: $base-font-color;

    &:hover, &:active, &:focus {
      color: $base-font-color;
    }

    p {
      font-size: $base-font-size + 1;
      line-height: 1.5;
    }
  }
}

aside.sidebar {
  min-height: 300px;
  @include span-columns(4);
  @include pad(0 65px 0 default);
  @include omega;
  margin-top: 33px + 20px;

  @include media($tablet) {
    @include pad(0 $base-padding 0 default);
  }

  @include media($mobile) {
    float: none;
    margin-top: 0;
    padding: 0 $base-padding-mobile $base-padding-mobile;
    @include span-columns(4);
  }

  h4 {
    font-weight: bold;
    color: $base-link-color;
    font-size: $base-font-size-1 + 1;
  }

  ol {
    padding: 0;
  }

  li {
    border-bottom: 1px solid lighten($base-border-color, 5%);
    list-style: none;
    margin-bottom: 0.9em;
    padding-bottom: 0.9em;

    a {
      text-decoration: none;
      line-height: 1.1em;
      font-size: $base-font-size - 1px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

body.blog_entries {
  div.pagination {
    clear: left;
  }
}
