section.posts {
  @include span-columns(8);

  @include media($mobile) {
    float: none;
    @include span-columns(4);
  }
}

article.post-item {
  @extend %content-container;
  box-shadow: 0 -0px 0 $shadow-2, inset 0 1px 0 #eaeaea, $base-shadow;
  margin-bottom: 30px;
  @include transition(box-shadow 0.15s);

  &:hover {
    box-shadow: 0 -3px 0 $shadow-2, inset 0 0px 0 #eaeaea, $base-shadow;
  }

  h3 {
    font-weight: 800;
    line-height: 1.2;
    margin-top: 0;

    a, a:hover, a:active {
      color: $base-font-color;
      text-decoration: none;
    }
  }

  div.metadata {
    @extend %blog-metadata;
  }

  a.snippet {
    font-family: $serif;
    text-decoration: none;
    color: $base-font-color;

    &:hover, &:active, &:focus {
      color: $base-font-color;
    }

    p {
      font-size: $base-font-size + 1;
      line-height: 1.5;
    }
  }
}

aside.sidebar {
  min-height: 300px;
  @include span-columns(4);
  @include pad(0 0 0 default);
  margin-top: 28px;

  @include media($mobile) {
    float: none;
    @include span-columns(4);
  }

  h4 {
    font-weight: bold;
  }

  ol {
    padding: 0;
  }

  li {
    border-bottom: 1px solid lighten($base-border-color, 5%);
    list-style: none;
    margin-bottom: 0.6em;
    padding-bottom: 0.6em;

    a {
      text-decoration: none;
      line-height: 1.1em;
      font-size: $base-font-size - 1px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
