article.post {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 -0px 0 $shadow-2, inset 0 1px 0 #eaeaea, $base-shadow;
  margin-bottom: 30px;
  overflow: hidden;
  @include span-columns(10);

  @include media($small-screen) {
    @include span-columns(10);
  }

  .content {
    padding: 40px;

    @include media($mobile) {
      padding: 20px;
    }
  }

  h3.title {
    font-size: em(32, 15);
    font-weight: 800;
    line-height: 1.3em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  div.metadata {
    @extend %blog-metadata;
    font-size: $base-font-size-1;
  }

  p, blockquote {
    font-family: $serif;
    font-size: $base-font-size-2 - 1;
    line-height: 1.85;
    margin: 2em 0;

    @include media($mobile) {
      font-size: $base-font-size-1;
    }
  }

  blockquote {
    $border-size: 6px;
    $margin-left: 41px;
    border-left: $border-size solid $shadow-2;
    color: lighten($base-font-color, 12%);
    font-style: italic;
    margin-left: -$margin-left;
    padding-left: $margin-left - $border-size;
  }
}

article.post {
  .imagery {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;

    &:after {
      box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.3);
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
    }

    &.lightning {
      background-image: image_url('blog/lightning.jpg');
      background-position: 50% 80%;
    }
  }
}
