article.post {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 -0px 0 $shadow-2, inset 0 1px 0 #eaeaea, $base-shadow;
  margin-bottom: 30px;
  @include pad(40px);
  @include span-columns(10);

  h3.title {
    font-weight: 800;
    font-size: em(32, 15);
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  div.metadata {
    @extend %blog-metadata;
    font-size: $base-font-size-1;
  }

  p, blockquote {
    font-family: $serif;
    font-size: $base-font-size-2;
    line-height: 1.5;
    margin: 2em 0;
  }

  blockquote {
    $border-size: 6px;
    $margin-left: 41px;
    border-left: $border-size solid $shadow-2;
    color: lighten($base-font-color, 12%);
    font-style: italic;
    margin-left: -$margin-left;
    padding-left: $margin-left - $border-size;

    &, p {
      line-height: 1.7em;
    }
  }
}
