form.new_submission {
  $label-width: 200px;
  $label-margin: 20px;
  width: 600px;

  div {
    @include clearfix;
  }

  label {
    float: left;
    text-align: right;
    width: $label-width;
    margin-right: 20px;
  }

  div.input label {
    margin-top: 12px;
  }

  div.input.file label {
    margin-top: 0;
  }

  select, input {
    float: left;
  }

  select {
    padding: 10px 10px 5px 10px;
  }

  div.buttons-wrapper {
    margin-top: 20px;
    padding-left: $label-width + $label-margin;
  }
}
