/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'normalize';
@import 'bourbon';
@import 'neat';
@import 'bitters/base';
@import 'components/base';
@import 'extends/blog';

// Vendor
@import 'select2';
@import 'bootstrap-datepicker';

@import 'shared/fontello';
@import 'shared/header';
@import 'shared/pagination';
@import 'shared/navigation';

@import 'layouts/application';

@import 'home/index';
@import 'notices/show';
@import 'notices/new';
@import 'categories/show';
@import 'search/index';
@import 'blog/index';
@import 'blog/show';

.wip {
  outline: 1px solid yellow;

  &.disabled {
    outline: none;
  }
}
