<p>
  <strong>Time in queue:</strong>
  <%= time_ago_in_words(@object.created_at) %>
</p>

<aside id="redaction-tools">
  <%=
    render(
      'redact_everywhere_form',
      abstract_model: @abstract_model,
      object: @object
    )
  %>
  <button id="redact-selected" class="btn">Redact selection</button>
  <button id="unredact-selected" class="btn">Unredact field</button>
</aside>

<section id="redaction-form">
  <%=
    render(
      'redaction_form',
      abstract_model: @abstract_model,
      object: @object,
      redactable_fields: @redactable_fields,
      next_notice_path: @next_notice_path
    )
  %>
</section>
