
<div class="well">
  <ul class="redact-info">
    <li>Highlight text then click <b>Redact Selection</b>.</li>
    <li>Click <b>Unredact field</b> to unredact <i>all</i> redacted text in the chosen textarea.</li>
    <li>Click <b>Redact Selection Everywhere</b> to redact highlighted text within all <i>selected</i> items in the queue.</li>
  </ul>
</div>
<aside id="redaction-tools" class="">
  <button id="redact-selected" class="btn btn-primary"><i class="icon-pencil"></i> Redact selection</button>
  <button id="unredact-selected" class="btn btn-warning"><i class="icon-repeat"></i> Unredact field</button>
  <%=
    render(
      'redact_everywhere_form',
      abstract_model: @abstract_model,
      object: @object
    )
  %>
</aside>

<section id="redaction-form">
  <%=
    render(
      'redaction_form',
      abstract_model: @abstract_model,
      object: @object,
      redactable_fields: @redactable_fields,
      next_notice_path: @next_notice_path
    )
  %>
</section>
