<% label = local_assigns[:label] || @notice.class.label %>
<header>
  <h3 class="title">Report a <%= label.titleize %></h3>
  <p>Your request will be automatically sent to the Lumen database (<a href="https://www.lumendatabase.org/" target="_blank">https://www.lumendatabase.org/</a>) that collects and analyzes legal complaints and requests for removal of online materials.</p>
  <p>Please do not include phone numbers, email addresses, personal name, or other private information other than those of the complainant.</p>
</header>
