<% label = local_assigns[:label] || @notice.class.label %>
<% additional_description = nil if local_assigns[:additional_description].nil? %>

<header>
  <%= format(Translation.t('submitter_widget_notice_new_header_info'), label_titleize: label.titleize).html_safe %>
  <% if additional_description %>
    <p><%= additional_description %></p>
  <% end %>
</header>
