<% title 'Are you a human?' %>

<article class="captcha-gateway">
  <section class="body">
    <div class="main">
      <%= Translation.t('captcha_gateway_info') %>

      <form id="captcha-gateway-form" method="get">
        <input type="hidden" name="destination" value="<%= params[:destination] %>">

        <div class="form-inputs">
          <%= recaptcha_tags %>
        </div>

        <div class="form-actions">
          <input type="submit" name="commit" value="Submit">
        </div>
      </form>
    </div>
  </section>
</article>
