<% title 'Are you a human?' %>

<article class="captcha-gateway">
  <section class="body">
    <div class="main">
      <h4>We need to check if you are a human, resolve the captcha and hit the submit button, please.</h4>
      <h4>You will be then redirected to your destination page.</h4>

      <form id="captcha-gateway-form" method="get">
        <input type="hidden" name="destination" value="<%= params[:destination] %>">

        <div class="form-inputs">
          <%= recaptcha_tags %>
        </div>

        <div class="form-actions">
          <input type="submit" name="commit" value="Submit">
        </div>
      </form>
    </div>
  </section>
</article>
